/* Global elements */

a, a:visited {
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	outline: none;
}
a:hover {
	color: #187aa5;
	font-weight: normal;
}
body {
	font-family: arial, helvetica, sans;
	font-size: 11px;
	color: #666666;
	margin: 0px;
	padding: 0px;
}
.bmw-overview-wrapper {
	width:1024px;
}
h1 {
	font-size: 18px;
	color: #000000;
}
input {
	font-family: arial, helvetica, sans;
	font-size: 11px;
	color: #666666;
}
option {
	font-size: 10px;
}
p {
	margin-top: 8px;
	margin-bottom: 8px;
	overflow: hidden;
}
table {
	font-family: arial, helvetica, sans;
	font-size: 11px;
	color: #666666;
}
textarea {
	font-family: arial, helvetica, sans;
	font-size: 11px;
	color: #666666;
}
img {
	border: 0px;
}
/* End of Global elements */


/* TraderMedia CMS ************************************************************************** */

/* bmwauc-content ****************************************************************** */

#bmwauc-content{
display:block;
clear:both;
padding-bottom:40px
}

#bmwauc-content h2 {
	font-size: 28px;
	padding: 12px 0px 10px 20px;
	_padding: 15px 0px 10px 20px;
	margin: 0px;
	color: #333;
}
#bmwauc-content h2 {
	padding-top: 25px;
}
#bmwauc-content h3 {
	font-size: 18px;
	padding: 0px;
	margin: 0px;
	color: #333;
}
.bmwauc-content-left p {
	font-size: 11px;
	width:359px;
	font-weight: normal;
	margin: 0px 20px 10px 20px;
}
.bmwauc-content-left ul {
	font-size: 11px;
	width:359px;
	font-weight: normal;
	margin: 0px 20px 10px 20px;
}
/* bmwauc-content homepage****************************************************************** */

.bmwauc-content-left {
	width:424px;
	float:left;
	height:210px;
}
.bmwauc-content-right {
	width:600px;
	float:left;
	height:210px;
}
/* bmwauc-buttons ***************************************************************************************** */
a, a:visited {
	color:#666666;
	font-weight:normal;
	text-decoration:none;
}
a.auc07-blue-button {
	background:#187AA5 url(/images/bmwuk/auc2007/css/button_arrow.gif) no-repeat scroll right top;
	display:block;
	float:right;
	padding:2px 22px 3px 6px;
}
a.auc07-blue-button {
	text-decoration:none;
}
a.auc07-blue-button:link, a.auc07-blue-button:visited {
	color:#FFFFFF;
	text-decoration:none;
}
a.bmwauc-button-blue-arrow-left {
	color:#1947a3;
	background: url("blue_arrow.gif") no-repeat 0px 8px;
	display:block;
	float:left;
	padding:5px 12px 5px 12px;
	text-decoration:none;
	font-weight: bold;
}
a.bmwauc-button-blue-arrow-left:link, a.bmwauc-button-blue-arrow-left:visited {
	color:#1947a3;
	text-decoration:none;
	font-weight: bold;
}
a.bmwauc-button-blue-arrow-left:hover {
	color:#666;
	text-decoration:none;
}
/* SEARCH FORM */
/* TABS*/

div.bmwauc-tab-content-container {
	border-right: 1px solid #999999;
	border-left: 1px solid #999999;
	border-bottom: 1px solid #999999;
	background: #FFFFFF;
}
div.bmwauc-tab-bar-container {
	height: 26px;
	background: url('tabs-container-bg.gif') 0px 25px repeat-x;
	overflow: hidden;
	clear: both;
}
div.bmwauc-tab-bar-container span.auc-tab {
	background: #999999;
}
div.bmwauc-tab-bar-container span.auc-tab {
	display: block;
	float: left;
	padding: 1px 1px 0px 1px;
	height: 24px;
	background: #999999;
}
div.bmwauc-tab-bar-container span.auc-tab a {
	background: #FFFFFF;
	padding: 5px 8px 5px 8px;
	display: block;
}
a.auc-tab:link, a.auc-tab:visited {
	color: #003399;
}
a.auc-tab:hover {
	color: #003399;
	text-decoration: underline;
}
a.auc-tab {
	font-size: 135%;
	font-weight: bold;
	color: #999999;
}
div.controls-block {
	clear: both;
}
div.controls {
	padding: 10px 20px 0px 20px;
	clear: both;
}
/* COLUMNS */

div.controls-column {
	float: left;
	margin-right: 20px;
	width: 166px;
}
div.control-block-separator {
	height: 10px;
	clear: both;
	font-size: 1px;
	overflow: hidden;
}
div.controls-column h5 {
	font-size: 125%;
	font-weight: bold;
	margin: 0px;
	padding: 0px 0px 5px 0px;
	color: #333333;
}
/*select */

select {
	font-family: arial, helvetica, sans;
	font-size: 11px;
	color: #666666;
	width:160px;
	padding:3px 5px;
	border:1px solid #D2DCED;
	background: #EDF1F7 url(selectbox-options-bg.gif) no-repeat 0px 100%;
}
select:disabled {
	border:1px solid #CCCCCC;
	background: #FFFFFF;
	color:#CCCCCC
}
a.simple-link {
	margin-left: 13px;
	line-height: 26px;
	padding: 5px 0px 0px 10px;
	background: url('blue_arrow.gif') 0px 8px no-repeat;
	color: #1947A3;
	font-weight: bold;
}
a.simple-link:link, a.simple-link:visited {
	color: #1947A3;
	font-weight: bold;
}
a.simple-link:hover {
	color: #1947A3;
	font-weight: bold;
	text-decoration: underline;
}
#bmwauc-content h2 {
	padding-top: 25px;
}

div.input-text-required {
color: #333;
font-size: 90%;
padding: 6px 0px 0px;
}

/* SEARCH BUTTON */

div.quick-view-now {
	padding: 21px 0px 0px 0px;
}
input.auc-blue-button:link, input.auc-blue-button:visited {
	color: #FFFFFF;
	font-weight: bold;
	
}
input.auc-blue-button:hover {
	background: #4264AA url('auc-button-bg-hover.gif') 100% 0px no-repeat;
	color: #AAAAAA;
	font-weight: bold;
	cursor:pointer;
}
input.auc-blue-button, span.auc-blue-button-disabled {
	font-size: 11px;
	background: #4264AA url('auc-button-bg.gif') 100% 0px no-repeat;
	border: 1px solid #476CB5;
	border-top: 0px none;
	padding: 5px 30px 4px 9px;
	color: #FFFFFF;
	line-height: 14px;
 *line-height: 24px;
	font-weight: bold;
	cursor:pointer;
}
/* SLIDER */
#amount_min {
	font-size:11px;
	color: #333333;
	float:left;
	border:0;
	width:50px;
	font-weight:bold;
	margin-top:5px
}
#amount_max {
	font-size:11px;
	color: #333333;
	float:right;
	border:0;
	width:50px;
	font-weight:bold;
	margin-top:5px
}
#slider-range {
	margin-top:10px
}
.ui-corner-all {
	border-bottom-left-radius: 4px 4px;
	border-bottom-right-radius: 4px 4px;
	border-top-left-radius: 4px 4px;
	border-top-right-radius: 4px 4px;
}
.ui-widget-content {
	background: white url(tracker-full-bg.gif) repeat-x 50% 50%;
	border: 1px solid #AAA;
	color: #222;
}
.ui-widget {
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.1em;
}
.ui-slider-horizontal {
	height: 1em;
}
.ui-slider-horizontal .ui-slider-range {
	height: 100%;
	top: 0px;
}
.ui-slider .ui-slider-range {
	background-position: 0px 0px;
	border: 0px;
	display: block;
	font-size: 0.7em;
	position: absolute;
	z-index: 1;
	height:10px;
	margin-top:2px;
}
.ui-widget-header {
	background: url(tracker-range-bg.gif) repeat-x 50% 50%;
	border: 1px solid #AAA;
	color: #222;
	font-weight: bold;
}
div.auc-tracker div.tracker a.tracker-slider {
	background: url(tracker-slider.png) no-repeat 0px 0px;
	height: 21px;
	width: 14px;
}
.ui-widget-content .ui-state-active {
	border:green!important;
	height:30px;
	width:100px;
}
.ui-state-defaul {
	border:none;
	border:0;
}
a:focus {
	outline-style: none;
}
input:focus {
	outline-style: none;
}
.ui-slider {
	text-align: left;
	position: relative;
	text-align: left;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: url(tracker-slider.png) no-repeat 0px 0px;
	height: 21px;
	width: 14px;
	color: #555;
	font-weight: normal;
}
.ui-slider-horizontal .ui-slider-handle {
	margin-left: -0.6em;
	top: -0.3em;
}
.ui-slider .ui-slider-handle {
	cursor: default;
	position: absolute;
	z-index: 2;
}
/*FOOTER */

div.content-big-nav-container-wide {
	background: #F8F8F8;
	border-right: 1px solid #E2E2E2;
	border-top: 1px solid #E2E2E2;
	width: 1022px;
	z-index: 900;
	padding-bottom:25px
}

.clearfix{
clear:both;
}

div.sub-nav-container-wide {
float: left;
padding-left: 20px;
width: 230px;
z-index: 900;
}
#content-big-nav h3 {
color: #333;
font-size: 16px;
margin-bottom: 0px;
margin-top: 15px;
}
h3 a, h3 a:link, h3 a:visited {
color: #333;
font-weight: bold;
text-decoration: none;
}
h3 a:hover {
color: #333;
font-weight: bold;
text-decoration: underline;
}
div.short-menu-item a, div.short-menu-item a:visited {
width: 150px;
}
div.menu-item a, div.menu-item a:visited {
background: url(blue_arrow.gif) no-repeat 0px 13px;
color: #1947A3;
float: left;
font-weight: normal;
padding-left: 10px;
padding-top: 10px;
text-decoration: none;
width: 175px;
}
div.menu-item a:hover {
color: #1947A3;
text-decoration: underline;
}










