﻿<%@ Page Language="C#" MasterPageFile="~/admin/layout.master" AutoEventWireup="true"
    CodeFile="default.aspx.cs" Inherits="admin_default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="PageContentPlaceHolder" runat="Server">
    <h1>
       <div style='-moz-user-select: none;-webkit-user-select: none;' onselectstart='return false;'>Welcome To Icon Creations Administration</div>
 </h1>


</asp:Content>
