html, body, form {
height: 100%;
}
body { margin:0; padding:0; outline:none; background:url(../images/Bg.png) repeat-x #cdcdcd; font-family:Arial, Helvetica, sans-serif; }

@font-face {
    font-family: 'CalibriBold';
    src: url('../fonts/calibrib.eot');
    src: url('../fonts/calibrib.eot') format('embedded-opentype'),
         url('../fonts/calibrib.woff') format('woff'),
         url('../fonts/calibrib.ttf') format('truetype'),
         url('../fonts/calibrib.svg#CalibriBold') format('svg');
}
#userpass { width:314px; margin:0 auto; min-height:620px; background:url(../images/img-admin/loginBg.png) repeat;height:100% }
.IClogo { width:220px; height:147px; background:url(../images/img-admin/ICBg.png)  no-repeat; padding:73px 47px 0;}
.IClogo a { display:block; overflow:hidden; text-indent:-999999px; background:url(../images/img-admin/icLogo.png) no-repeat; width:220px; height:69px; }
.login { padding:0 15px 30px; text-align:center; }
.login .clientLogo { margin-bottom:10px; }
.login h1 { font-family:'CalibriBold', Arial, Helvetica, sans-serif; color:#136fb7; font-size:24px; font-weight:normal; margin-bottom:10px; }
.credentials h2 { color:#898989; font-size:15px; font-weight:normal; margin-bottom:15px; }
.line { height:32px; clear:both; margin-top:10px; text-align:left; position:relative; }
.label { width:80px; font-family:'CalibriBold'; color:#136fb7; font-size:16px; float:left; padding-top:7px; }

.input { background: none repeat scroll 0 0 #EBEBEB; float: right; height: 32px; width: 201px; }
.input_login { width:201px; height:32px; background:#ebebeb; float:right; border:none; }
.send { width:61px; height:25px; clear:both; background:url(../images/img-admin/submit.png) no-repeat; text-indent:-999999px; cursor:pointer; float:right; border:none;   }
.validate { color:#136fb7 !important; position:absolute; right:-7px; top:10px; }

#alldata { min-height:100%; padding-left:25px; background:url(../images/img-admin/sidBg.png) repeat-y; width:1176px; }
.sideBar {  width:166px; min-height:140px; padding:10px 5px; text-align:center; background:url(../images/img-admin/sideBg.png) no-repeat; margin-right:10px; float:left; }
.sideBar h2 { font-family:'CalibriBold', Arial, Helvetica, sans-serif; color:#136fb7; font-size:13.4px; font-weight:normal; margin-top:7px; }
.container { width:990px; float:left; position:relative; font-size:14px;  }
.top { width:100%; height:48px; }
.ICTop { width:175px; height:92px; background:url(../images/img-admin/ictop.png) no-repeat; float:right; margin-right:15px; }
.ICTop a { display:block; overflow:hidden; text-indent:-999999px; width:175px; height:92px; }
.content { width:950px; min-height:200px; background:url(../images/img-admin/contentBg.png) repeat; border:1px solid #a1a1a1; padding:20px; }
table td a { height:30px; display:block; }
.dataTable { border-collapse: separate !important;  border-spacing: 2px; text-align:center; font-size:12px; margin-bottom:10px; }
.dataTable .th td { background: #136fb7; font-family:'CalibriBold', Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; height:30px; color: #FFFFFF; }
.dataTable .row td { background:#959595; height:20px; padding:5px; }
.dataTable .alt td { background:#cccccc; height:20px; padding:5px; }
.excel { height:15px; padding-top:5px;}
.tableContainer { margin-top:30px; }
.clearfix { clear:both; }


