
.CALcpYearNavigation, 
.CALcpMonthNavigation
{
	font-weight: bold;
	color: #ffffff;
	background-color: #4A91C3;
	text-align: center;
	text-decoration: none;
	padding:1px;
}

A.CALcpMonthNavigation
{
	font-size: 11px;
	font-family: Verdana;
	color: #FFFFFF;
}
A.CALcpMonthNavigation:hover
{
	color: #FFFFFF;
}

.CALcpDayColumnHeader, 
.CALcpYearNavigation, 
.CALcpMonthNavigation, 
.CALcpCurrentMonthDate, 
.CALcpCurrentMonthDateDisabled, 
.CALcpOtherMonthDate, 
.CALcpOtherMonthDateDisabled, 
.CALcpCurrentDate, 
.CALcpCurrentDateDisabled, 
.CALcpTodayText, 
.CALcpTodayTextDisabled, 
.CALcpText
{
	font-size: 10px;
	font-family: Verdana;
}
 
TD.CALcpDayColumnHeader
{
	border-bottom: #4A91C3 1px solid;
	text-align: right;
	padding:1px;
}
	
.CALcpCurrentMonthDate, 
.CALcpOtherMonthDate, 
.CALcpCurrentDate
{
	text-align: right;
	text-decoration: none;
}

A.CALcpCurrentDate:hover
{
	color: #FFFFFF;
}
 
.CALcpCurrentMonthDateDisabled, 
.CALcpOtherMonthDateDisabled, 
.CALcpCurrentDateDisabled
{
	color: #d0d0d0;
	text-align: right;
	text-decoration: line-through;
}
 
.CALcpCurrentMonthDate
{
	font-weight: bold;
	color: #06C;
	padding:1px;
}

.CALcpCurrentDate
{
	font-weight: bold;
	color: #ffffff;
}
		
.CALcpOtherMonthDate
{
	color: #808080;
}
		
TD.CALcpCurrentDate
{
	border: solid thin #F70;
	color: #ffffff;
	background-color: #4A91C3;
}
		
TD.CALcpCurrentDateDisabled
{
	border: solid thin #ffaaaa;
}
		
TD.CALcpTodayText, 
TD.CALcpTodayTextDisabled
{
	border-top: #4A91C3 1px solid;
	padding-top:5px;
	padding-bottom:5px;
}

A.CALcpTodayText
{
	height: 20px;
}
	
SPAN.CALcpTodayTextDisabled
{
	height: 20px;
}
	
A.CALcpTodayText
{
	font-weight: bold;
	color: #F70;
}
	
SPAN.CALcpTodayTextDisabled
{
	color: #d0d0d0;
}
	
.CALcpBorder
{
	border-right: 2px #606060 solid;
	border-top: 2px #c0c0c0 solid;
	border-left: 2px #c0c0c0 solid;
	border-bottom: 2px #606060 solid;
}