/*#############################################################
Name: Indigo
Date: 2006-07-27
Description: A lightweight, simple and pleasant design.
Author: Viktor Persson
URL: http://arcsin.se

Feel free to use and modify but please provide credits.
#############################################################*/

/* standard elements */
html, body, form {
height: 100%;
}

*
{
	margin: 0;
	padding: 0;
}
a
{
	color: #06C;
}
a:hover
{
	color: #4A91C3;
}
body
{
	background: url(../images/bg.png) repeat-x #cdcdcd;
	color: #136FB7;
	font: normal 62.5% Arial, Helvetica, sans-serif;
	margin: 0;
}
.PageTitle {width:250px; height:30px; margin-bottom:5px;}
input
{
	color: #555;
	font: normal 1.1em Arial, Helvetica, sans-serif;
	border:none;
}
p
{
	font-size: 1.2em;
	padding-bottom: 1.2em;
}
h1
{
	font-size: 1.5em;
}
h1, h2, h3
{
	color: #06C;
	padding-top: 1px;
}
a.h1
{
	color: #06C;
	padding-top: 1px;
	text-decoration: none;
}
/* misc */
.clearer
{
	clear: both;
}

/* structure */
.container
{
	background: url(../images/topleft.gif) no-repeat;
}

.header
{
	height: 58px;
}

.header1
{
	height: 21px;
}

/* title */
.title
{
	float: left;
	padding: 1px 0 0 6px;
}
.title h1
{
	color: #FFF;
	letter-spacing: 0.5em;
}
.subtitle
{
	float: left;
	padding: 0 0 8px 23px;
}
.subtitle h2
{
	color: #FFF;
	font: bold 1.7em "Lucida Sans Unicode" ,sans-serif;
}

/* navigation */
.navigation
{
	height: 58px;
	margin-left: 28px;
	padding: 0 16px;
}
.navigation a
{
	color: #FFF;
	font: normal 1em "Lucida Sans Unicode" ,sans-serif;
	padding: 5px 17px;
	text-decoration: none;
}
.navigation a:hover
{
	background-color: #4A91C3;
	color: #FFF;
}
.logout
{
	float: right;
	width:250px;
}
.logout a
{
	
	line-height: 22px;
}
.logout a:hover
{
	color: #FFC17D;
	border-bottom: 3px solid #ddd;
}
.logout span
{
	color: #fff;
	font-size: 11px;
	float:right;
}

/* main */
.main
{
	width:1000px; float:right;
}

.content
{
	background:#f7f7f7; border:1px solid #a1a1a1; width:1000px; display:block
}

.content h1
{
	padding-left: 20px;
	margin-bottom: 15px;
	background-image: url(../images/circle-blue.png);
	background-position: left;
	background-repeat: no-repeat;
}

/* footer */
.footer
{
	background: #0094D6 url(../images/bgfooter.gif) repeat-x;
	color: #C1DEF0;
	font-size: 1.1em;
	line-height: 40px;
	text-align: center;
	clear: both;
	padding-left: 5px;
	padding-right: 5px;
}
.footer a
{
	color: #FFF;
	text-decoration: none;
}
.footer a:hover
{
	color: #FFF;
	text-decoration: underline;
}
.footnote
{
	font-size: 0.9em;
	background-color: #0093D5;
	color: #fff;
	margin-top: -2px;
	margin-bottom: 2px;
	line-height: 15px;
}

.float-left
{
	float: left;
}
.float-right
{
	float: right;
}
.clear-left
{
	clear: left;
}
.clear-right
{
	clear: right;
}


/* custom */
INPUT.button
{
	background: url("../images/submit.jpg") repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 21px;
    margin-left: 5px;
    overflow: hidden;
    text-indent: -99999px;
    width: 80px;
}
INPUT.right
{
	background: url("../images/cancel.jpg") repeat scroll 0 0 transparent;
   
    margin-left: 5px;
    overflow: hidden;
    text-indent: -99999px;
    width: 80px;
}
TEXTAREA
{
	color: #555;
	font: normal 1.2em "Lucida Sans Unicode" ,sans-serif;
	border: 3px double #AFAFAF;
	padding: 2px;
}
SELECT
{
	color: #555;
	font: normal 1.1em "Lucida Sans Unicode" ,sans-serif;
}
.input SELECT { width:100%;}

TABLE.border
{
	border:none;
}
TABLE.grid
{
	
	border-top: #c0c0c0 1px solid;
	border-left: #c0c0c0 1px solid;
	border-bottom: #606060 2px solid;
	background-color: #bbb;
}
TD.formheader
{
	background-color: #136FB7;
	color: #fff;
	padding: 7px 0px 7px 10px;
	font-family: 'CalibriBold';
    font-size: 14px;
    font-weight: normal;
	text-transform:uppercase;
}
TD.input
{
	font: normal 11px "Lucida Sans Unicode" ,sans-serif;
	padding: 5px 0px 6px 6px;
}
.abslt .input span { position:absolute; }
TD.All
{
	font: normal 11px "Lucida Sans Unicode" ,sans-serif;
	border-bottom: 1px dashed #999;
	border-left: 1px dashed #999;
	border-top: 1px dashed #999;
	border-right: 1px dashed #999;
	padding: 5px 0px 6px 6px;
}
TD.input input
{
	padding: 1px;
	border:1px #ccc solid;
}
TD.label
{
	color: #136FB7;
    font-family: 'CalibriBold';
    font-size: 14px;
    font-weight: normal;
    padding: 3px 5px;
    text-align: left;
    width: 160px;
	float:left;
}
.hours { width:600px;}
.hours td
{
	color: #136FB7;
    font-family: 'CalibriBold';
    font-size: 14px;
    font-weight: normal;
    padding: 3px 5px;
    text-align: left;
}
TD.white_label
{
	color: #fff;
    font-family: 'CalibriBold';
    font-size: 14px;
    font-weight: normal;
    padding: 0px 0px 0px 10px;
    text-align: left;
    width: 130px;
	text-transform:uppercase;
}

TD.tabs
{
	padding: 15px 10px 10px 20px;
	border-bottom: 1px dashed #999;
}
.check label
{
	padding-left: 5px;
	padding-right: 5px;
	color: #555;
	font: normal 12px Tahoma ,sans-serif;
}
DIV.imagesdiv
{
	display: none;
	z-index: 10;
	position: absolute;
	border-right: 2px #606060 solid;
	border-top: 2px #c0c0c0 solid;
	border-left: 2px #c0c0c0 solid;
	border-bottom: 2px #606060 solid;
}

a.lnkbtn
{
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
a.lnkbtn:hover
{
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}

a.add, a.update
{
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #666;
}

.add {
  background: url("../images/add_icon.png") no-repeat scroll 4px 4px #28ABE1 !important;
  color: #FFFFFF !important;
  font-family: 'CalibriBold';
  font-size: 14px !important;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  padding: 2px 10px 4px 23px !important;
  text-decoration: none;
  margin-right:2px;
}

a.update:hover
{
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
	color: #999;
}

a.back
{
	font-size: 13px;
	text-decoration: underline;
	color: #06C;
}
a.back:hover
{
	font-size: 13px;
	text-decoration: underline;
	color: #4A91C3;
}

.normal
{
	font: 11px "Lucida Sans Unicode" ,sans-serif;
}
.large
{
	font: 13px "Lucida Sans Unicode" ,sans-serif;
}
.validator
{
	font: 12px Tahoma ,sans-serif;
}

.form
{
	border: solid 1px #999;
	background-color: #FAFAFA;
	margin-bottom: 10px;
}
.form label
{
	font-weight: bold;
	padding: 3px 5px 3px 5px;
}
.form td
{
	padding: 3px;
}
.error
{
	font: 13px "Lucida Sans Unicode" ,sans-serif;
	color: #ff0000;
	padding-left: 20px;
	background-image: url(../images/exclamation.png);
	background-position: left;
	background-repeat: no-repeat;
}

.padlt10
{
	padding-left: 10px;
}
.padlt20
{
	padding-left: 20px;
}
.padlt35
{
	padding-left: 35px;
}
.padlt40
{
	padding-left: 40px;
}

.accordionHeader
{
	margin-top: 5px;
	margin-bottom: 10px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 1.1em;
	width: 25%;
}

.accordionContent
{
	padding-left: 25px;
	margin-bottom: 5px;
}

.accordionContent textarea
{
	font-size: 1.0em;
}

.popupControl
{
	background-color: White;
	position: absolute;
	visibility: hidden;
	border: outset 1px White;
	padding: 5px;
	text-align: center;
}

.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=60);
	opacity: 0.5;
}

#progressFilter
{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	padding: 0;
	margin: 0;
	background-color: #e0e0e0;
	filter: alpha(opacity=60);
	opacity: 0.5;
	z-index: 1000;
}

#progressMessage
{
	position: absolute;
	top: 12%;
	left: 42%;
	padding: 10px;
	z-index: 1001;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #06C;
}

/* Dialogue titlebar */
.ttl
{
	width: 100%;
	height: 38px;
	cursor: move;
	border: solid 1px #4A91C3;
	border-bottom-width: 0px;
}

/* Close button */
.ttl a
{
	margin-top: 4px;
	display: block;
	float: right;
	width: 23px;
	height: 21px;
	background: transparent url( "../images/dialog/static.png" ) no-repeat -18px 0;
	cursor: default;
}
.ttl a:hover
{
	background-position: -18px -21px;
}
.ttl a:active
{
	background-position: -18px -42px;
	outline: none;
}


ttlt
{
	width: 100%;
	height: 30px;
}
.ttlt-l
{
	width: 9px;
	height: 30px;
	background: transparent url( "../images/dialog/static.png" ) no-repeat;
	float: left;
}
/* ttlt-m width is dialogue width (450px) - 18px (the left & right divs are 9px each) */
.ttlt-m
{
	width: 432px;
	height: 30px;
	background: #000 url( "../images/dialog/horizontal.png" ) repeat-x;
	float: left;
}
.ttlt-r
{
	width: 9px;
	height: 30px;
	background: transparent url( "../images/dialog/static.png" ) no-repeat -9px 0;
	float: left;
}
.ttlt span
{
	cursor: inherit;
	margin-left: 4px;
	line-height: 30px;
	color: #555;
	font-weight: bold;
	font-family: Tahoma,Helvetica,sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
}
.ttlb
{
	width: 100%;
	height: 8px;
}
.ttlb span
{
	display: none;
}
.ttlb-l
{
	width: 9px;
	height: 8px;
	background: #000 url( "../images/dialog/static.png" ) no-repeat 0 -30px;
	float: left;
}
/* ttlb-m width is dialogue width (450px) - 18px (the left & right divs are 9px each) */
.ttlb-m
{
	width: 432px;
	height: 8px;
	background: #fff url( "../images/dialog/horizontal.png" ) repeat-x 0 -67px;
	float: left;
}
.ttlb-r
{
	width: 9px;
	height: 8px;
	background: #000 url( "../images/dialog/static.png" ) no-repeat -9px -30px;
	float: left;
}

/* Dialogue contents */
.con
{
	width: 100%;
	height: 100px;
	color: #555;
	background-color: #fff;
	font-family: Tahoma,Helvetica,sans-serif;
	font-size: 13px;
	border: solid 1px #4A91C3;
	border-top-width: 0px;
	border-bottom-width: 0px;
}
.con-l
{
	width: 9px;
	height: 100%;
	background: #000 url( "../images/dialog/vertical.png" ) repeat-y;
	float: left;
}
/* con-m width is dialogue width (450px) - 18px (the left & right divs are 9px each) */
.con-m
{
	width: 432px;
	height: 100%;
	background-color: #fff;
	float: left;
}
.con-m .top
{
	margin-top: 2px;
}
.con-r
{
	width: 9px;
	height: 100%;
	background: #000 url( "../images/dialog/vertical.png" ) repeat-y -9px 0;
	float: left;
}

/* Dialogue footer */
.ftr
{
	width: 100%;
	height: 37px;
	font-family: Tahoma,Helvetica,sans-serif;
	font-size: 11px;
	border: solid 1px #4A91C3;
	border-top-width: 0px;
}
.ftr-l
{
	width: 9px;
	height: 37px;
	background: transparent url( "../images/dialog/static.png" ) no-repeat 0 -75px;
	float: left;
}
/* ftr-m width is dialogue width (450px) - 18px (the left & right divs are 9px each) */
.ftr-m
{
	width: 432px;
	height: 37px;
	background: #eee url( "../images/dialog/horizontal.png" ) repeat-x 0 -30px;
	float: left;
}
.ftr-r
{
	width: 9px;
	height: 37px;
	background: transparent url( "../images/dialog/static.png" ) no-repeat -9px -75px;
	float: left;
}

a.btn
{
	margin: 6px 10px 0 0;
	width: 70px;
	height: 25px;
	background: transparent url( "../images/dialog/static.png" ) no-repeat -41px 0;
	display: block;
	padding: 0;
	text-decoration: none;
	cursor: default;
	float: right;
	background-position: -41px -25px;
}
a.btn span
{
	width: 70px;
	text-align: center;
	display: block;
	background-color: transparent;
	color: #4A91C3;
	line-height: 24px;
	padding: 0;
	font-weight: bold;
}
a.btn:hover
{
	background-position: -41px -25px;
}
a.btn:hover span
{
	color: #555;
}
a.btn:active
{
	outline: none;
}
a.btn:active span
{
	padding-top: 1px;
}

.shows
{
	background-image: url( "../images/blackArrow.png" );
	background-position: left 6px;
	background-repeat: no-repeat;
	padding-left: 10px;
}
.days input
{
	margin-left:5px;
}
.days label
{
	padding-left:2px;
	color:#000;
}
.hoverMenu {
	position:absolute;
	visibility:hidden;
	background-color:#FAFAFA;
	padding:0px;
	border:solid 1px #cccccc;
}

TD.selimages  images
{
	border:solid 3px #CFB018;
}


/*----- sherif css--*/
#container2{width:1200px; min-height:100%; margin:0px 0px 0px 25px; position:relative}
@font-face {
    font-family: 'CalibriBold';
    src: url('../fonts/calibrib.eot');
    src: url('../fonts/calibrib.eot') format('embedded-opentype'),
         url('../fonts/calibrib.woff') format('woff'),
         url('../fonts/calibrib.ttf') format('truetype'),
         url('../fonts/calibrib.svg#CalibriBold') format('svg');
}
@font-face {
    font-family: 'MinionProRegular';
    src: url('../fonts/minionpro-regular.eot');
    src: url('../fonts/minionpro-regular.eot') format('embedded-opentype'),
         url('../fonts/minionpro-regular.woff') format('woff'),
         url('../fonts/minionpro-regular.ttf') format('truetype'),
         url('../fonts/minionpro-regular.svg#MinionProRegular') format('svg');
}
.client_logo{width:200px; height:74px; padding-left:114px; padding-top:26px}
.client_logo_h{width:130px; height:74px; padding-left:45px; padding-top:26px}
.icon_logo{background:url(images/gradient_bg.gif) repeat-x; height:114px; padding-top:111px; padding-left:38px}
.login_title{font-size:22px; padding:11px 0px 0px 48px}
.login_title2{font-size:16px;color:#136fb7; text-transform:capitalize; font-family:'CalibriBold';font-weight:normal; width:71px; float:left; padding:0px 10px 0px 19px; margin-bottom:10px;}
.login_title3{font-size:14px;color:#136fb7; text-transform:capitalize; font-family:'CalibriBold';font-weight:normal; width:auto; float:left; padding:15px 0px 0px 6px; margin-bottom:10px;}
.page_header_title{font-size:14px !important;color:#136fb7 !important; text-transform:capitalize; font-family:'CalibriBold';font-weight:normal; width:auto; float:left; padding:0px 14px 0px 6px; margin-bottom:10px;}
.logoutBtn{background:url(../images/logout_btn.gif) no-repeat !important; width:57px; height:18px; display:block; text-indent:-999999999px; text-align:left; direction:ltr; float:right}
.input_box{ width:190px; height:22px; color:#000; border:none; background:#ebebeb; padding-left:10px}
.txt_grey{font-family:'MinionProRegular'; color:#898989; font-size:17px; font-weight:normal; padding:22px 0px 13px 34px;}
.login_btn{float:right; margin:2px 14px 0px 0px;}

.menu_banner{width:176px;background:#f8f8f8; float:left; clear:left; height:100%; position:fixed}
.content_panel{width:1000px; float:right;}
.home_header{ width:177px; height:19px; text-align:right; float:right;margin:27px 203px 5px 0}
.content_panel_frame{float:left; background:#f7f7f7; border:1px solid #a1a1a1; width:1000px; min-height:300px; display:block; height:auto; padding:20px}
.nav_title{color: #A1A1A1;float: left;font-family: 'CalibriBold';font-size: 14px;padding: 4px 8px 0 5px;text-transform: uppercase; font-weight:normal}
.nav_last{background: url("../images/right_arrow.gif") no-repeat scroll 1px 6px transparent;color: #136FB7;float: left;font-family: 'CalibriBold';font-size: 20px;padding-left: 17px;text-transform: uppercase; font-weight:normal}
.hoverMenu{
    
    width: 142px;
	position:absolute;
	top:50px;
	left:20px;
	display:block !important;
	visibility:visible !important;
}
#my-button{

    background: #28abe1 !important;
	border:none !important;
	position:absolute !important;
    padding:2px;
	font-size:14px;
	font-family: 'CalibriBold';
	color:#fff;
	text-transform:uppercase;
    width: 80px !important;
    height: 18px !important;
    text-align: center;
    left: 170px !important;  /* Positioning over file-upload */
    top: 0px;
    z-index: 1; /* Lower z-index causes controls to sit under file upload */
}

#overlay{
 position:absolute;
 z-index: 1; /* Lower z-index causes controls to sit under file upload */
 left: 0;
 background:#cccccc;
 width:165px;
 height:21px; /* Positioning over file-upload */
}

#original{
    opacity: 0; /* Opacity makes it invisible*/
    position: relative;
    z-index: 100; /* z-index causes original file upload to sit above other controls*/
}

#file-upload-cont{
    position: relative;
	width:255px;
	
}
.add_button
{
	background: url("../images/add_icon.png") no-repeat scroll 3px 4px #28ABE1 !important;
    color: #FFFFFF !important;
    font-family: 'CalibriBold' !important;
    font-size: 14px !important;
    font-weight: normal !important;
    padding: 2px 10px 4px 23px !important;
    text-decoration: none;
    text-transform: uppercase !important;
	
	
}

.sideBar {  width:166px; min-height:70px; padding:10px 5px 30px; text-align:center; position:relative; }
.clientLogo { max-width:166px;}
.sideBar h2 { font-family:'CalibriBold', Arial, Helvetica, sans-serif; position:absolute; bottom:10px; text-align:center; width:166px;  color:#136fb7; font-size:13.4px; font-weight:normal; margin-top:7px; }
.dataTable { border-collapse: separate !important;  border-spacing: 2px; text-align:center; font-size:12px; margin-bottom:10px; border:none; }
.dataTable td {color: #FFFFFF;border:none; text-align:left;}
.dataTable .th td { background: #136fb7; font-family:'CalibriBold', Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; height:20px; padding:5px;  }
.dataTable .row td { background:#959595; height:20px; padding:5px; }
.dataTable .alt td { background:#cccccc; height:20px; padding:5px; color:#666; }
.excel { height:15px; padding-top:5px;}
.RTable { font-size: 13px; color:#A1A1A1;}
.RTable td a { height:25px; display:block;color: #136FB7;
    font-family: 'CalibriBold',Arial,Helvetica,sans-serif;
    font-size: 14px;
    text-decoration: none;
 }
table { max-width:100%; }