﻿/* table level rules */


.grid
{border-collapse: separate !important;  border-spacing: 2px; text-align:center; margin-bottom:5px; border:none !important; background:transparent !important; color:#fff;
    width:775px;
    font-size:14px;
    font-family: 'CalibriBold';
	text-transform:uppercase;
	
}


/* header column rules */
.grid th { background: #136fb7; font-family:'CalibriBold', Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; height:30px; color: #FFFFFF; padding:0px 6px; }
.grid th.ar { padding: 0px 6px; }
.grid th a { color:#fff; text-decoration: underline; }
.grid th a:hover { text-decoration:none; }
.grid th a.nobg { background-image:none; }
.grid th a.sortasc {
    background:#4A91C3;
    padding-left:15px;
    background-image: url(../images/sort_asc.gif);     
    background-repeat: no-repeat;
    background-position: center left;       
}
.grid th a.sortdesc
{
    background:#4A91C3;
    padding-left:15px;
    background-image: url(../images/sort_desc.gif);     
    background-repeat: no-repeat;
    background-position: center left;       
}   

/* data cell and data row rules */
.grid td { padding:0px; text-align:center; }
.grid .altrow { background-color: #cccccc; } 
.grid .row { background-color: #959595; }  
.grid .row1 { background-color: #959595; height:26px; }  
.tdImg { background:#fafafa;  display: inline-block; height:29px; }
.grid .selected
{
    background-color: #FFCF9B;
}

.grid .highlight
{
    background-color: #FFFFB3;
}

.grid .rownum
{
    text-align:center;
    font-weight:bold;
    width:25px;
}
.grid td span
{
    
	padding:0px;
	margin:0px
}

.grid .hidecol
{
    width:35px;
}

.grid .hidden
{
	display:none;
	visibility:hidden;
}

p.empty
{
    margin-left:20px;
}

/* pager */

.pager
{
    /* height:30px; 
    background:url(../images/pager_bg.gif) repeat-x;*/
}
.pager .container2
{
    margin-left:90px;
    padding:4px;
}
.pager .command
{
    float:left;
    padding-right:5px;
}    
.pager .info
{
    font-size:11px;
    padding:4px 0px;
    float:right;
}

.hide  { display: none; }
.add_button
{
	color: #fff !important;
    font-family: 'CalibriBold';
    font-size: 14px;
    font-weight: normal;
    padding: 0px 0px 0px 10px;
    text-align: left;
	text-transform:uppercase;
	background: url(../images/add_icon.png) no-repeat 4px 4px #28abe1 !important;
	float:right !important;
	margin-right:2px;
}