﻿/* menu */

#nav {
 
 float: left;
 margin:13px 0px 0px 17px; padding: 0;
 
}

#nav li a, #nav li {
 display:block;
}

#nav li {
 list-style: none;
 position: relative;
 margin:2px 0px 0px 0px;
}

#nav li a {
 padding:5px 0px 0px 0px;
 text-decoration: none;
 color: #fff;
 background: #a1a1a1;
 width:141px;
 height:20px;
 text-align:center;
 font-family:'CalibriBold';font-weight:normal; font-size:14px;
 text-transform:uppercase;
 line-height:15px;
 
 
 
}

#nav li:hover a {
 
 /*background:url(../images/menu_ovr.gif) right 0px no-repeat #136fb7;*/
 background:#136fb7;	
 
}
.activeUnique { background:#136fb7 !important;}

/* Submenu */

.hasChildren {
	position: absolute;
	width: 5px; height: 5px;
	background: black;
	right : 0;
	bottom: 0;
}

#nav li ul {
 display: none;
 position: absolute;
 left: 2px;
 top: 100%;
 padding: 0; margin-left: 0px; border:1px solid #fff; border-top:none;
 
}
.arrow { display:block; width:6px; height:25px; position:absolute; left:-6px; top:0;background:url(../images/menu_ovr.gif) right 0px no-repeat #136fb7;}

#nav li:hover > ul {
 display: block;
 left: 100%;
 top: 0;
 background:#136fb7
}

#nav li ul li, #nav li ul li a {
 float: none;
 background:#136fb7;
 padding:0px; margin-left:3px; margin-right:3px;
 
}

#nav li ul li {
 _display: inline;
 background:#136fb7; /* for IE6 */
  width: 300px;
}

#nav li ul li a {
 width: 280px;
 display: block;
 border-bottom:1px solid #1066aa;text-align:left; 
 padding-left:10px;
 margin: 2px 3px;
 padding-top:4px;
 
}
#nav li ul li:hover a {
 background:#cccccc;
 color:#136fb7;
}
 
}

/* SUBSUB Menu */

#nav li ul li ul {
 display: none;
 background:#136fb7
}

#nav li ul li:hover ul {
 left: 100%;
 top: 0;
 background:#cccccc;
 color:#136fb7; 
}