 
/********************************************
   HTML ELEMENTS
********************************************/ 

/* top elements */
* {
	margin: 0; padding: 0;
} 
body {
	margin: 0; padding: 0;
	font: 71%/1.5em  Tahoma, 'Trebuchet MS', Arial, Sans-serif;
	background: url(../images/headerbg-red.gif) repeat-x;
	color: #333;	
	/* text-align: center; */
}

/* links */
a {
	color: #A91717; 
}
a:hover {	
	color: #333;
}

/* headers */
h1, h2, h3 {
	font: bold 1em 'Trebuchet MS', Tahoma, Sans-serif;
	text-transform: uppercase;
	color: #555;
}
h1 { font-size: 1.5em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.2em; text-transform: none;}

#main h1, #rightbar h1 {
	padding: 5px 0 5px 5px;
	margin: 0 0 0 6px;
	text-transform: uppercase;
	border-bottom: 1px solid #f2f2f2; 	
}	
#main h1 {
	padding-left: 25px;
	background: url(../images/square_arrow.gif) no-repeat 1px 8px;
}
#sidebar h1 {
	padding: 10px 0px 5px 30px;
	background: url(../images/square_arrow.gif) no-repeat 2px 12px;
	margin: 0;
	text-transform: uppercase;	
}

p, h1, h2, h3 {
	margin: 10px 10px;
}
ul, ol {
	margin: 10px 30px;
	padding: 0 15px;	
	color: #3182C0;	
}
ul span, ol span {
	color: #666666;
}

/* images 
img {
	border: 2px solid #CCC;
}*/
img.float-right {
  margin: 5px 0px 5px 15px;  
}
img.float-left {
  margin: 5px 15px 5px 0px;
}

/* form elements */
.form 
{
	border-left: solid 1px #999;
    border-right: solid 1px #999;
    background-color: #FAFAFA; 
    padding:3px;   
}

label 
{
    display:inline;
	font-weight:bold;
	margin:5px 0px 2px 10px;
}
.form-field {
	border:1px solid #000;
	font: normal 1em/1.5em Tahoma, sans-serif;
	height: 15px;
    line-height: 15px;
    padding: 1px 3px;
    margin:5px 0px 2px 10px;
}
.form-check label
{
    margin:0px 10px 0px 3px;
}
.form-upload {
	border:1px solid #000;
	font: normal 1em/1.5em Tahoma, sans-serif;
	height:18px;
    padding-left:3px;
    margin:5px 0px 2px 10px;
}
.form-button { 
	font: bold 1em/1.5em Tahoma, sans-serif;
	border: solid 1px #000;
	padding: 2px 3px; 
	color: #A91717;
	margin:8px 0px 5px 0px;
}
.form-rightbutton { 
	font: bold 1em/1.5em Tahoma, sans-serif;
	border: solid 1px #000;
	padding: 2px 3px; 
	color: #A91717;
	margin:8px 0px 5px 30px;	
}
.form-footer
{
    margin:10px 0px 10px 0px;
}
select
{
    margin:5px 0px 2px 10px;
	font: normal 1em/1.5em Verdana, sans-serif;
}
textarea {
	border:1px solid #000;
	font: normal 1em/1.5em Tahoma, sans-serif;
    line-height: 15px;
    padding: 1px 3px;
    margin:5px 0px 2px 10px;
}

/*****************/
/*    Layout     */
/*****************/
#wrap {
	margin: 0 auto;
	width: 100%;  	
	text-align: left;		
	background: #FFF;
}
#content-wrap {
	clear:both;
	margin: 0; padding:0;
	width: 100%;
}

/* header */
#header {
	position: relative;
	background: url(../images/headerbg-red.gif) repeat-x;
	height: 84px;
}
#header h1#logo {
	position: absolute;
	margin: -2px 0px 0px 0px;
	padding-left: 10px;
	font: bolder 4.1em 'Trebuchet MS', Arial, Sans-serif;
	letter-spacing: -2px;
	color: #FFF;
}
#header h2#slogan {
	position: absolute;
	margin: 0; 
	padding-top:50px;
	padding-left: 30px;
	font: bold 1.6em 'Trebuchet MS', Arial, Sans-serif;
	text-transform: none;
	letter-spacing: 2px;
	color: #CCC;
}
#header .searchform {
	position: absolute;
	top: 5px; right: 3px;	
}
#header p
{
	padding-right:10px;
	padding-top:5px;
	font-size:12px;
	color:#ffffff;
}
#header p a
{
	color:#ffffff;
	
}
#header p a:hover
{
	color: #CCC
}

/* main column */
*html #main {height:445px;}
#main {
	float: left;
	margin-left: 20px;
	padding: 0px 15px 5px 0px;
	width: 89%;	
	min-height:445px;	
	border-left: 1px solid #ccc;
	text-align:left;
}
#page
{
	margin:10px
}
#page ul h2
{
	border-bottom: 1px solid #EFF0F1;
	background: url(../images/arrow.gif) no-repeat 3px 8px;
	padding: 0px 2px 2px 20px;	
	text-transform: none;
}

/* sideabar */
#sidebar {
	float: left;
	margin: 0;	padding: 0; 
	display: inline;	
}
#sidebar ul.sidemenu {
	list-style: none;
	text-align: left;
	margin: 0 0 8px 0;	
	padding-right: 0;		
	text-decoration: none;
	width: 25%;
}
#sidebar ul.sidemenu li {
	border-bottom: 1px solid #EFF0F1;
	background: url(../images/arrow.gif) no-repeat 2px 5px;
	padding: 2px 5px 2px 20px;	
}

* html body #sidebar ul.sidemenu li { height: 1%; }

#sidebar ul.sidemenu a {
	font-weight: bold;
	background-image: none;
	text-decoration: none;	
}

/* rightbar */
#rightbar {
	float: right;
	width: 21%;
	padding: 0;			
}

/* footer */
#footer
{
    clear: both;
    background: #FFF url(../images/footerbg.gif) repeat-x left top;
    border-top: 1px solid #aaa;
    height: 40px;
    font-size: 85%;
    padding-top: 10px;
    border-top-color: #CCC;
}
#footer a {
	text-decoration: none;
}
#footer span.left
{
	float:left;
	margin-left:10px;
}
#footer span.right
{
	float:right;
	margin-right:10px;
}

/* Alignment classes */
.float-left   { float: left;}
.float-right  { float: right; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.align-center { text-align: center;	}
.align-justify { text-align: justify; }

/* display classes */
.clear { clear: both; }
.clear-left { clear: left;}
.clear-right { clear: right; }
.block { display: block; }
.hide  { display: none; }	
.red  {	color: #A91717; }

/* rounded corners */
.roundcont {
	width: 100%;
	/*margin-top:20px;
	margin-left:20px;*/
}

.roundcont p
{
    margin: 0px;
    border-left: solid 1px #999;
    border-right: solid 1px #999;
    background-color: #FAFAFA;
    color: #666;
    padding: 5px;
}

.roundtop { 
	background: #A91717 url(../images/tr.gif) no-repeat top right; 
	height:22px;
}

.roundtop h3
{
    font-size: 1.1em;
    color:#fff;
    float:left;
    letter-spacing:0.2em;
    text-transform:uppercase;
    margin-top:3px;
}
.roundbottom {
	background: #A91717 url(../images/br.gif) no-repeat top right; 
}

img.corner {
   width: 15px;
   height: 15px;
   border: none;
   display: block !important;
}


