﻿/* ajax__tab_xp-theme theme */
.linkedin .ajax__tab_header 
{
	font-size:11px;
	font-weight:bold;
    font-family:tahoma, sans-serif;
}
.linkedin .ajax__tab_active .ajax__tab_outer,
.linkedin .ajax__tab_header .ajax__tab_outer,
.linkedin .ajax__tab_hover .ajax__tab_outer
{
    margin-right:4px;
}
.linkedin .ajax__tab_active .ajax__tab_inner,
.linkedin .ajax__tab_header .ajax__tab_inner,
.linkedin .ajax__tab_hover .ajax__tab_inner
{
    margin-left:3px; /* offset the width of the left image */
}
.linkedin .ajax__tab_active .ajax__tab_tab,
.linkedin .ajax__tab_hover .ajax__tab_tab,
.linkedin .ajax__tab_header .ajax__tab_tab
{
	margin-right:0px;	
	padding:8px 15px 8px 20px;
}
.linkedin .ajax__tab_body 
{
    font-family:tahoma,helvetica;
    font-size:10pt;
    padding:10px;
}

.linkedin-blue .ajax__tab_header 
{
	color:#fff;
}
.linkedin-blue .ajax__tab_outer
{
    background:url(img/blue_left.gif) no-repeat 0px 0px;
}
.linkedin-blue .ajax__tab_inner
{
    background:url(img/blue_right.gif) no-repeat 100% 0px;
}
.linkedin-blue .ajax__tab_hover .ajax__tab_outer
{
    background:url(img/blue_left.gif) no-repeat 0px -150px;
}
.linkedin-blue .ajax__tab_hover .ajax__tab_inner
{
    background:url(img/blue_right.gif) no-repeat 100% -150px;
}
.linkedin-blue .ajax__tab_active .ajax__tab_outer
{
    background:url(img/blue_left.gif) no-repeat 0px -300px;
}
.linkedin-blue .ajax__tab_active .ajax__tab_inner
{
    background:url(img/blue_right.gif) no-repeat 100% -300px;
}
.linkedin-blue .ajax__tab_body 
{
	border:solid 2px #4498c2;	
}

.yui .ajax__tab_header 
{
    font-family:verdana,helvetica,clean,sans-serif;
    font-size:10px;
    font-weight:bold;
    border-bottom:solid 3px #28abe1;
    
}
.yui .ajax__tab_header .ajax__tab_outer 
{
    background:url(img/sprite.png) #136fb7 repeat-x;
    margin:0px 0.4em 0px 0px;
    padding:3px;
    vertical-align:bottom;
    border-bottom-width:0px;
	text-transform:uppercase;
    
}
.yui .ajax__tab_header .ajax__tab_tab
{    
    color:#fff;
    padding:0.20em 0.40em;    
    margin-right:0.02em;
   
}
.yui .ajax__tab_hover .ajax__tab_outer 
{
    background: url(img/sprite.png) #28abe1 repeat-x left -1300px;
    
}
.yui .ajax__tab_active .ajax__tab_tab 
{
    color:#fff;
}
.yui .ajax__tab_active .ajax__tab_outer
{
    background:url(img/sprite.png) #28abe1 repeat-x left -1400px;
    
}
.yui .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:11px;
    padding:6px 0px 0px 0px;
   
    border-top-width:0px;
    margin-bottom:10px;
}

