/* Example tokeninput style #2: Facebook style */
ul.token-input-list
{
	overflow: hidden;
	height: auto !important;
	height: 1%;
    width: 350px;
	border: 3px double #AFAFAF;
    color: #555555;
	cursor: text;
	font-size: 11px;
	font-family: Tahoma;
	min-height: 1px;
	z-index: 999;
	margin: 0;
	padding: 0;
	background-color: #fff;
}

ul.token-input-list
{
	list-style-type: none;
}

ul.token-input-list li input
{
	border: 0;
	width: 100px;
	padding: 1px 2px;
	background-color: white;
}

li.token-input-token
{
	overflow: hidden;
	height: auto !important;
	height: 1%;
	margin: 1px;
	padding: 1px 1px;
	background-color: #eff2f7;
	color: #000;
	cursor: default;
	border: 1px solid #ccd5e4;
	font-size: 11px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: left;
}

li.token-input-token p
{
	display: inline;
	padding: 0;
	margin: 0;
	float: left;
	font-family: Tahoma !important;
	font-size: 11px !important;
	line-height: 14px !important;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}

li.token-input-token span
{
	color: #94A4C5;
	margin-right: 5px;
	font-weight: bold;
	cursor: pointer;
	float: left;
}

li.token-input-selected-token
{
	background-color: #107FC9;
	border: 1px solid #3b5998;
	color: #fff;
}

li.token-input-input-token
{
	float: left;
}

div.token-input-dropdown
{
	position: absolute;
    width: 350px;
	background-color: #fff;
	overflow: hidden;
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	cursor: default;
	font-size: 11px!Important;
	font-family: Tahoma;
	z-index: 1;
}

div.token-input-dropdown p
{
	margin: 0;
	padding: 3px;
	color: #333;
	font-size: 12px;
	background-color: #F8F8F8;
}

div.token-input-dropdown ul
{
	margin: 0;
	padding: 0;
}

div.token-input-dropdown ul li
{
	background-color: #fff;
	padding: 3px;
}

div.token-input-dropdown ul li.token-input-dropdown-item
{
	background-color: #fff;
}

div.token-input-dropdown ul li.token-input-dropdown-item2
{
	background-color: #fff;
}

div.token-input-dropdown ul li em
{
	font-weight: bold;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item
{
	background-color: #107FC9;
	color: #fff;
}

