﻿
.Locs {
    color: #565657;
    direction: rtl;
    padding: 0 12px;
    width: 100%;
}
#Locs {
}
.areaName {
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    margin-top: 5px;
    width: 220px;
}
.areaName span.ttle {
    background: url("../img/close_btn.gif") no-repeat scroll 189px 8px #FA9E30;
    clear: both;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: 'BebasNeue';
    font-size: 29px;
    height: 37px;
    margin-top: 10px;
    min-width: 120px;
    padding: 3px 38px 0 10px;
    text-align: right;
    width: auto;
}
.areaName_open {
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    margin-top: 5px;
    width: 220px;
}
.areaName_open span.ttle {
    background: url("../img/open_btn.gif") no-repeat scroll 7px 8px #FA9E30;
    clear: both;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: 'BebasNeue';
    font-size: 29px;
    height: 37px;
    margin-top: 10px;
    min-width: 120px;
    padding: 3px 10px 0 38px;
    width: auto;
}
a.selected span.ttle {
    background: url("../img/open_btn.gif") no-repeat scroll 189px 8px #FA9E30;
}
.openedSection {
    border-top: 0 none;
    color: #2F2F2F;
    margin-bottom: 15px;
    padding: 0 45px 0 30px;
    position: relative;
}
.dealer {
    border-right: 2px solid #FA9E30;
    float: right;
    height: 231px;
    margin-bottom: 0;
    padding: 0 0 20px 20px;
    width: 437px;
}
.dealer_white {
    float: right;
    height: 231px;
    margin-bottom: 0;
    padding: 0 0 10px 20px;
    width: 437px;
}
.dealer h2 {
    background: url("../img/service_title.jpg") no-repeat scroll right 18px transparent;
    color: #1B285D;
    font-size: 20px;
    height: 17px;
    padding: 7px 20px 0 0;
    text-align: right;
}
.dealer_white h2 {
    background: url("../img/service_title.jpg") no-repeat scroll right 20px transparent;
    border-right: 2px solid #FA9E30;
    color: #1B285D;
    font-size: 20px;
    height: 13px;
    padding: 9px 20px 0 0;
}
.dealerItem {
    color: #1B285D;
    font-family: 'calibri';
    font-size: 17px;
    padding: 11px 53px 52px 0;
    text-align: right;
}
.map_img {
    float: right;
    margin-top: 15px;
}
.ar_txt {
    float: right;
    font-family: 'AdobeArabic';
}
.gallery_pic {
    float: left;
    height: 195px;
    margin-bottom: 10px;
    margin-left: 8px;
    margin-right: 13px;
    width: 220px;
}
.news_pic {
    height: 125px;
    width: 220px;
}
.news_text {
    color: #959595;
    font-family: 'BebasNeue';
    font-size: 19px;
    padding-top: 6px;
    text-align: right;
}
.adPage .imgPreview {
    float: left;
    height: 444px;
    position: relative;
    width: 460px;
}
.adPage .imgThumbs {
    float: left;
    width: 313px;
}
.imgThumbs ul {
    height: 392px;
    list-style: none outside none;
    margin: 0 0 18px;
    padding: 0;
}
.adPage .imgThumbs ul li {
    float: left;
    height: 90px;
    margin-bottom: 8px;
    margin-right: 10px;
    width: 94px;
}
.adPage .imgThumbs ul li a {
    border: medium none;
    outline: medium none;
    text-decoration: none;
}
.adPage .downloadAd {
}
.downloadAd h4 {
    color: #0A4F8B;
    text-transform: uppercase;
}
.downloadAd a {
    background: url("../img/arrow.png") no-repeat scroll right 3px transparent;
    clear: both;
    color: #000000;
    display: inline-block;
    font-size: 10px;
    line-height: 15px;
    margin-left: 3px;
    padding-right: 12px;
    text-decoration: none;
    text-transform: uppercase;
    width: 165px;
}
.content_ads {
    clear: both;
    float: right;
    margin: 0 10px 90px 0;
    width: 551px;
}
.content_ads_trucks {
    clear: both;
    float: left;
    width: 551px;
}
.newsPage {
    margin: 0 auto;
    width: 100%;
}
.newsPage .topArea {
    background: url("../images/adsPageGrad.jpg") repeat-x scroll 0 0 transparent;
    height: 322px;
    margin: 0 auto;
    position: relative;
    width: 908px;
}
.newsPage .topArea .leftShadow {
    background: url("../img/gallLeft.png") no-repeat scroll 0 0 transparent;
    bottom: 0;
    height: 59px;
    left: -26px;
    position: absolute;
    width: 26px;
}
.newsPage .topArea .rightShadow {
    background: url("../img/gallRight.png") no-repeat scroll 0 0 transparent;
    bottom: 0;
    height: 59px;
    position: absolute;
    right: -26px;
    width: 26px;
}
.newsPage .bottomArea {
    background: url("../img/btmArea.png") repeat-x scroll 0 0 transparent;
    height: 220px;
    margin-top: -18px;
    padding: 35px 30px 0;
    width: 920px;
}
.newsPage .imgPreview {
    float: left;
    height: 322px;
    position: relative;
    width: 462px;
}
.newsText {
    float: left;
    font-size: 11px;
    padding: 0 23px;
    width: 372px;
}
.newsText h3 {
    color: #1B285D;
    font-family: 'BebasNeue';
    font-size: 22px;
    margin-bottom: 15px;
    text-align: right;
}
.newsItem .imgPreview {
    float: right;
    width: 460px;
}
.newsItem {
    float: left;
    margin-left: 63px;
    width: 887px;
}
.newsText .newsDate, .textBody {
    color: #1B285D;
    float: right;
    font: 12px Arial,Helvetica,sans-serif;
    text-align: right;
}
.newsPage .bottomArea .pages_header {
    margin-bottom: 10px;
    margin-left: 110px;
    width: 50%;
}
.newsList {
    height: 192px;
    margin-bottom: 30px;
    margin-top: 30px;
    position: relative;
}
.newsList1 {
    height: 135px;
    position: relative;
}
.thumb .news_text, li .news_text {
    color: #959595;
    font-family: 'BebasNeue';
    font-size: 12px;
    padding-right: 5px;
    width: 217px;
}
.thumb .news_text h4, li .news_text h4 {
    color: #959595;
    font-family: 'BebasNeue';
    font-size: 19px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
.truckSection {
    border-top: 0 none;
    color: #2F2F2F;
    float: right;
    margin-bottom: 30px;
    padding: 0;
    position: relative;
}
.truckstitle {
    border-right: 2px solid #00ADEC;
    float: right;
    padding-bottom: 33px;
}
.truckstitle_single {
    float: left;
    padding-bottom: 0;
}
.truckstitle h2 {
    background: url("../img/truck_title.jpg") no-repeat scroll right 0 transparent;
    color: #1B285D;
    font-size: 20px;
    height: 17px;
    margin-top: 0;
    padding: 0 20px 0 0;
}
.truckstitle_single h2 {
    color: #1B285D;
    font-size: 20px;
    height: 17px;
    margin-right: 20px;
    margin-top: 0;
    padding: 0 0 0 20px;
}
.truckstitle_end h2 {
    background: url("../img/truck_title.jpg") no-repeat scroll right 20px transparent;
    border-right: 2px solid #00ADEC;
    color: #1B285D;
    font-size: 20px;
    height: 13px;
    padding: 9px 20px 0 0;
}
.sitemap_frame {
    float: left;
    height: auto;
    margin-top: 0;
    width: 967px;
}
.sitemap_box h4 {
    background: url("../img/orange_arrow.jpg") no-repeat scroll right 10px transparent;
    color: #FA9E30;
    display: block;
    font-family: 'BebasNeue';
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    padding: 0 14px 0 0;
    text-align: right;
    text-transform: uppercase;
}
.contact_input {
    background: none repeat scroll 0 0 #E1E1E1;
    border: medium none;
    height: 30px;
    width: 422px;
}
.contact_inputarea {
    background: none repeat scroll 0 0 #E1E1E1;
    border: medium none;
    height: 102px;
    width: 422px;
}
.contact_txt {
    color: #555555;
    font: 11px Arial,Helvetica,sans-serif;
    margin: 0;
    padding-bottom: 20px;
}
.contactus_button {
    background: url("../img/submit_btn.jpg") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    float: left;
    height: 19px;
    margin: 20px 0 0;
    outline: medium none;
    width: 55px;
}
.ProductWrap {
    margin: 0 auto;
    padding-top: 0;
    width: 980px;
}
.Car-index {
    padding: 0 10px;
    position: relative;
}
.Car-index .car-info {
    float: left;
    padding-top: 0;
    width: 100%;
}
.Car-index .car-info p {
    line-height: 14px;
    margin-top: 0;
    text-align: right;
    width: 420px;
}
.Car-index .car-info .money {
    color: #555555;
    font: 24px/26px tahoma;
    margin-top: 25px;
}
.Car-index .car-info ul {
    margin-top: 20px;
    overflow: hidden;
}
.Car-index .car-info ul:after {
    clear: both;
    content: "";
    display: block;
}
.Car-index .car-info ul li {
    background: url("../../Images/Product/bg-carindex-ico.gif") no-repeat scroll right center transparent;
    float: right;
    padding-right: 1px;
}
.Car-index .car-info ul li.last {
    background: none repeat scroll 0 0 transparent;
    padding-right: 0;
}
.Car-index .car-info .car-img {
    bottom: 0;
    position: absolute;
    right: 0;
}
.Car-index .car-info .award {
    position: absolute;
    right: 0;
    top: 30px;
}
.Car-index .Hotspot {
    display: none;
    height: 25px;
    position: absolute;
    right: 350px;
    top: 175px;
    width: 25px;
}
.Car-index .Hotspot-box {
    position: absolute;
    right: 62px;
    top: -40px;
}
.Car-index .Hotspot-box a {
    position: absolute;
    right: 18px;
    top: 7px;
}
.Car-detail {
    float: left;
}
.detail-head {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 48px;
    margin: 0;
    width: 100%;
}
.detail-head:after {
    clear: both;
    content: "";
    display: block;
}
.detail-head h2 {
    float: left;
    height: 38px;
    padding-top: 0;
}
.detail-head h3 {
    height: 26px;
}
.detail-head .detail-Nav .Right-A {
    display: none;
}
.detail-head .detail-Nav .Left-A {
    display: none;
}
.D-Fix {
    left: 50%;
    margin-left: -480px;
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 929px;
    z-index: 999;
}
.detail-Nav {
    float: right;
    padding-right: 10px;
    padding-top: 9px;
}
.detail-Nav li {
    float: left;
    height: 31px;
    margin-left: 2px;
    padding: 0 25px;
}
.detail-Nav #lpp1 {
    margin-left: 0;
}
.detail-Nav #lpp1 ul {
    left: 403px;
}
.detail-Nav #lpp2 ul {
    left: 498px;
}
.detail-Nav #lpp3 ul {
    left: 670px;
}
.detail-Nav #lpp5 ul {
    left: 634px;
}
.detail-Nav .on {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #B7B7B7 #B7B7B7 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
}
.detail-Nav .on div {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
}
.detail-Nav div {
    background: none repeat scroll 0 0 #FFFFFF;
    display: none;
    height: 26px;
    left: 0;
    padding: 14px 0 0 31px;
    position: absolute;
    top: 54px;
    width: 949px;
}
.detail-Nav div ul {
    position: absolute;
    top: 15px;
}
.detail-Nav div ul li {
    float: left;
    height: 14px;
    margin-left: 22px;
    padding: 0 3px;
}
.detail-Nav div ul li a {
    display: inline-block;
    height: 12px;
}
.detail-Nav div ul .on {
    border-bottom: 2px solid #BB162B;
}
.Share-box {
    background: url("../../Images/Product/bg-Share.gif") no-repeat scroll 0 0 transparent;
    height: 20px;
    margin-top: 10px;
    padding: 6px 0 0 19px;
}
.board-cont .Share-box {
    background: url("../../Images/Board/bg-share.gif") no-repeat scroll 0 8px transparent;
    border-bottom: 1px solid #DDDDDD;
    height: auto;
    margin-top: 0;
    padding: 8px 0;
}
.board-cont .Share-box a.first {
    margin-right: 10px;
}
.Share-box a.first {
    margin-right: 31px;
}
.Share-box a {
    display: inline-block;
    margin-right: 16px;
    vertical-align: middle;
}
.Car-detail {
    overflow: hidden;
    position: relative;
}
.detail-body h3 {
    height: 18px;
    padding: 10px 0 20px 30px;
}
.D-Gallery {
    padding-left: 10px;
}
.D-Gallery ul {
    overflow: hidden;
}
.D-Gallery ul:after {
    clear: both;
    content: "";
    display: block;
}
.D-Gallery ul li {
    border: 1px solid #E7E7E7;
    float: left;
    line-height: 0;
    margin-right: 8px;
    margin-top: 8px;
}
.D-Gallery2 {
    padding-left: 10px;
}
.D-Gallery2 ul {
    overflow: hidden;
}
.D-Gallery2 ul:after {
    clear: both;
    content: "";
    display: block;
}
.D-Gallery2 ul li {
    border: 1px solid #E7E7E7;
    float: left;
    line-height: 0;
    margin-right: 8px;
    margin-top: 8px;
}
.car-position {
}
.car-position ul {
    overflow: hidden;
}
.car-position ul:after {
    clear: both;
    content: "";
    display: block;
}
.car-position ul li {
    border-top: 2px solid #BEBEBE;
    float: left;
    font: 11px/14px tahoma;
    margin-right: 10px;
    padding-top: 10px;
    text-align: center;
    width: 184px;
}
.car-position ul li.on {
    border-top: 2px solid #BB162B;
}
.selColor {
    margin-top: 50px;
}
.selColor span {
    display: inline-block;
    vertical-align: middle;
}
.selColor strong {
    display: inline-block;
    vertical-align: middle;
}
.selColor ul {
    display: inline;
    padding-left: 22px;
}
.selColor ul li {
    display: inline;
    margin: 0 4px;
}
.selColor ul li a {
    display: inline-block;
}
.selColor ul li a span {
    border: 1px solid #DBDBDB;
    display: inline-block;
    height: 21px;
    vertical-align: middle;
    width: 21px;
}
.selColor ul li a.on {
    border: 2px solid #1F1F1F;
}
.vr-list {
    margin-top: 20px;
    padding-left: 117px;
}
.vr-list li {
    background: url("../../Images/Product/bg-red-dot.gif") no-repeat scroll 0 8px transparent;
    color: #333333;
    font: 11px/16px tahoma;
    padding-left: 6px;
}
.D-Features {
    margin: 0 10px;
    padding-top: 0;
}
.D-Features .Performance {
    border-bottom: 1px solid #E4E4E4;
    overflow: hidden;
}
.D-Features .Performance:after {
    clear: both;
    content: "";
    display: block;
}
.D-Features .Performance div {
    float: left;
}
.D-Features .Performance div.Wi-leng {
    width: 500px;
}
.D-Features .Performance div h3 {
    padding: 83px 0 0;
}
.D-Features .Performance div p {
    font: 11px/14px tahoma;
    margin: 20px 0 15px;
}
.D-Features .Safe {
    border-bottom: 1px solid #E4E4E4;
    overflow: hidden;
}
.D-Features .Safe:after {
    clear: both;
    content: "";
    display: block;
}
.D-Features .Safe .right {
    float: right;
}
.D-Features .Safe .left {
    float: left;
    padding-left: 30px;
}
.D-Features .Safe div h3 {
    padding: 83px 0 0;
}
.D-Features .Safe div p {
    font: 11px/14px tahoma;
    margin: 20px 0 15px;
}
.D-Features .thum-list {
    border-bottom: 1px solid #E4E4E4;
    padding: 20px 0;
    text-align: center;
}
.D-Features .thum-list a {
    display: inline-block;
    vertical-align: middle;
}
.D-Features .thum-list .Thum-Real {
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    width: 504px;
}
.D-Features .thum-list .Rel-box {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 504px;
}
.D-Features .thum-list .Prev {
    left: 0;
    position: absolute;
    top: 15px;
}
.D-Features .thum-list .Next {
    position: absolute;
    right: 0;
    top: 15px;
}
.D-Features .thum-list ul {
    overflow: hidden;
    position: relative;
    width: 10000px;
}
.D-Features .thum-list ul:after {
    clear: both;
    content: "";
    display: block;
}
.D-Features .thum-list ul li {
    float: left;
    padding: 0 1px;
}
.D-Features .thum-list ul li a {
    border: 1px solid #D9D9D9;
    display: inline-block;
    vertical-align: middle;
}
.D-Features .thum-list ul li a img {
    height: 48px;
    width: 68px;
}
.D-Features .thum-list ul .on a {
    border: 3px solid #BB162B;
    display: inline-block;
}
.D-Features .thum-list ul .on a img {
    height: 45px;
    width: 64px;
}
.D-Specifications {
    margin: 0 10px;
    padding-top: 145px;
}
.specsArea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #E0E0E0;
    color: #000000;
    margin: 20px 0 0;
    text-align: center;
    width: 884px;
}
.specsArea table {
    direction: rtl;
    font: 11px Arial,Helvetica,sans-serif;
    width: 884px !important;
}
.table_header {
    background: none repeat scroll 0 0 #C0C0C0;
    font: 14px Arial,Helvetica,sans-serif;
}
.table_title {
    color: #000000;
    font: bold 14px Arial,Helvetica,sans-serif;
    padding: 5px 0 5px 10px;
    text-align: left;
    text-transform: uppercase;
}
.rightAlign {
    font: 12px Arial,Helvetica,sans-serif;
    padding-left: 10px;
    text-align: left;
    width: 140px;
}
.specsArea .odd {
    background: none repeat scroll 0 0 #EAEAEA;
}
.specsArea .even {
    background: none repeat scroll 0 0 #D6D6D6;
}
.specsArea .oddRow {
    background: none repeat scroll 0 0 #EAEAEA !important;
}
.specsArea .evenRow {
    background: none repeat scroll 0 0 #D6D6D6 !important;
}
.specsArea th {
    background: none repeat scroll 0 0 #C0C0C0;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}
.specsArea h1 {
    color: #000000;
    font: bold 12px Arial,Helvetica,sans-serif;
    padding-right: 10px;
    text-align: right;
}
.specsArea td {
    font: 11px Arial,Helvetica,sans-serif;
    padding: 5px 10px 5px 0;
    text-align: right;
}
#model_wrapper {
    margin: 20px 0;
    overflow: hidden;
    width: 945px;
}
#sidebar {
}
#sidebar ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #B7B7B7;
    height: 36px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 943px;
    z-index: 10;
}
#sidebar ul li {
    border: medium none;
    float: left;
    margin: 0 10px 0 20px;
}
#sidebar ul li a {
    color: #959595;
    float: left;
    font-family: 'BebasNeue';
    font-size: 25px;
    height: 32px;
    margin-top: 0;
    padding: 3px 13px 0;
    text-decoration: none;
    text-transform: uppercase;
}
#sidebar ul li a.current {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #B7B7B7 #B7B7B7 #FFFFFF;
    border-image: none;
    border-style: solid;
    border-width: 1px;
}
#sidebar ul li a:visited {
    color: #959595;
}
#sidebar ul li a:hover {
    color: #1B285D;
}
#navinterior, #navspecifications, #navtop {
    opacity: 0.1;
}
#content_model {
    float: left;
    height: auto;
    padding: 0 0 20px 20px;
    text-align: justify;
}
#content_model h2 {
    font-size: 23px;
    margin-bottom: 15px;
    padding: 0;
}
#exterior h3 {
    margin-top: 0;
}
