﻿.Locs { padding:0 12px; width:100%; color:#565657; }
#Locs {   }
.areaName { color:#fff; font-size:16px; display:block; width:220px; margin-top:5px; }
.areaName span.ttle { color:#fff; font-size:29px; height:37px; cursor:pointer; clear:both;  background:url(../img/close_btn.gif) no-repeat 7px 8px #fa9e30;font-family:'BebasNeue'; padding:3px 10px 0px 38px; margin-top:10px;display:block; width:auto; min-width:120px }
.areaName_open { color:#fff; font-size:16px; display:block; width:220px; margin-top:5px; }
.areaName_open span.ttle { color:#fff; font-size:29px; height:37px; cursor:pointer; clear:both;  background:url(../img/open_btn.gif) no-repeat 7px 8px #fa9e30;font-family:'BebasNeue'; padding:3px 10px 0px 38px; margin-top:10px;display:block; width:auto; min-width:120px }
a.selected span.ttle {background:url(../img/open_btn.gif) no-repeat 7px 8px #fa9e30; }
.openedSection { padding:0px 30px 0 45px;  border-top:0; position:relative; margin-bottom:15px;  color:#2f2f2f; }
.dealer { margin-bottom:0px; border-left:2px solid #fa9e30; float:left; width:437px; height:231px; padding:0px 20px 20px 0px }
.dealer_white { margin-bottom:0px;float:left; width:437px; height:231px; padding:0px 20px 10px 0px;  }
.dealer h2{font-size:20px; color:#1b285d; padding:7px 0px 0px 20px; background:url(../img/service_title.jpg) no-repeat 0px 18px; height:17px;}
.dealer_white h2{font-size:20px; color:#1b285d; padding:9px 0px 0px 20px; background:url(../img/service_title.jpg) no-repeat 0px 20px; height:13px;border-left:2px solid #fa9e30;}
.dealerItem {color:#1b285d; padding:11px 0px 52px 53px; font-size:17px;font-family: 'calibri'}
.map_img{float:left; margin-top:15px}
.ar_txt{font-family: 'AdobeArabic'; float:left}
.gallery_pic { height: 195px; width: 220px; float: left; margin-left: 8px; margin-right: 13px; margin-bottom: 10px; }
.news_pic { height: 125px; width: 220px; }
.news_text { font-size:19px; color:#959595;font-family:'BebasNeue'; padding-top:6px }
.adPage .imgPreview { width:460px; height:444px; float:left; position:relative; }
.adPage .imgThumbs { width:313px; float:left;}
.imgThumbs ul { list-style:none; padding:0; margin:0; margin-bottom:18px; height:392px; }
.adPage .imgThumbs ul li { float:left; margin-right:10px; width:94px; height:90px; margin-bottom:8px;}
.adPage .imgThumbs ul li a {border:none; outline:none; text-decoration:none;}
.adPage .downloadAd{ /**position:absolute; width:190px; left:576px; bottom:30px; **/}
.downloadAd h4 { color:#0a4f8b; text-transform:uppercase; }
.downloadAd a { color:#000; margin-left:3px; text-decoration:none; text-transform:uppercase; clear:both; font-size:10px; width:165px; display:inline-block; line-height:15px;padding-right:12px; background:url(../img/arrow.png) no-repeat right 3px;  }
.content_ads { float: left; clear: both; width: 551px; margin:0px 0px 90px 10px; }
.content_ads_trucks { float: left; clear: both; width: 551px; }

.newsPage { width:100%; margin:0 auto;}
.newsPage .topArea { width:908px; height:322px; margin:0 auto; background:url(../images/adsPageGrad.jpg) repeat-x; position:relative; }
.newsPage .topArea .leftShadow { width:26px; height:59px; position:absolute; left:-26px; bottom:0; background:url(../img/gallLeft.png) no-repeat;}
.newsPage .topArea .rightShadow { width:26px; height:59px; position:absolute; right:-26px; bottom:0; background:url(../img/gallRight.png) no-repeat;}
/* Ehab */ .newsPage .bottomArea { width:920px; height:220px; padding:35px 30px 0px 30px; background:url(../img/btmArea.png) repeat-x; margin-top:-18px; }
.newsPage .imgPreview { width:462px; height:322px; float:left; position:relative; }
.newsText { padding:0px 23px; width:372px; font-size:11px; float:left;}
.newsText h3 { margin-bottom:15px; color:#1b285d; font-size:22px;font-family:'BebasNeue';}
.newsItem .imgPreview {width:460px; float:left;}
.newsItem{
    float: left;
    margin-left: 63px;
    width: 887px;}
.newsText .newsDate, .textBody {  color:#1b285d; font:12px Arial, Helvetica, sans-serif}
.newsPage .bottomArea .pages_header { margin-bottom:10px; width:50%; margin-left:110px; }
.newsList {height: 192px;margin-bottom: 30px;margin-top:30px;position: relative;}
/* Ehab */.newsList1 { height:135px; position:relative;}
/* Ehab */.thumb .news_text,li .news_text { width:217px;  
padding-right:5px;font-size:12px; font-family:'BebasNeue';color:#959595;    }
/* Ehab */.thumb .news_text h4,li .news_text h4{ font-size:19px; font-family:'BebasNeue';color:#959595; padding:0px; margin:0px; font-weight:normal; line-height:20px; }


/******
light trucks & medium trucks
***********/
.truckSection { padding:0px 0px 0 0px;  border-top:0; position:relative;  color:#2f2f2f; float:left} /* margin-bottom:30px;*/
.truckstitle{border-left:2px solid #00adec; float:left; padding-bottom:33px}
.truckstitle_single{ float:left; padding-bottom:0px}
.truckstitle h2{font-size:20px; color:#1b285d; padding:0px 0px 0px 20px; background:url(../img/truck_title.jpg) no-repeat 0px 0px; height:17px; margin-top:0px}
.truckstitle_single h2{font-size:20px; color:#1b285d; padding:0px 0px 0px 20px; height:17px; margin-top:0px}
.truckstitle_end h2{font-size:20px; color:#1b285d; padding:9px 0px 0px 20px; background:url(../img/truck_title.jpg) no-repeat 0px 20px; height:13px;border-left:2px solid #00adec;}

/******
sitemap
***********/
.sitemap_frame{width:967px; margin-top:0px; height:auto; float:left}
.sitemap_box h4{ color:#fa9e30; font-size:30px; font-family:'BebasNeue'; background:url(../img/orange_arrow.jpg) 0px 10px no-repeat;  padding:0px 0px 0px 14px; margin:0px; display:block; text-transform:uppercase; font-weight:normal}
/******
contact us
***********/
.contact_input{background:#e1e1e1; border:none; width:422px; height:30px}
.contact_inputarea{background:#e1e1e1; border:none; width:422px; height:102px}
.contact_txt{color:#555555; font:11px Arial, Helvetica, sans-serif; margin:0px; margin-left:0px; padding-bottom:20px}
.contactus_button{ background:url(../img/submit_btn.jpg) no-repeat; width:55px; height:19px; float:right; margin:20px 0px 0px 0px; border:none; outline:none; cursor:pointer}

/******
trucks model
***********/
/**/




/*ProductWrap*/
.ProductWrap {width:980px; margin:0 auto;  padding-top:0px;}
.Car-index {position:relative; padding:0 10px;}
.Car-index .car-info {padding-top:0px; width:100%; float:left}
.Car-index .car-info p {margin-top:0px; line-height:14px; width:420px;}
.Car-index .car-info .money {margin-top:25px; font:24px tahoma; line-height:26px; color:#555;}
.Car-index .car-info ul {overflow:hidden; margin-top:20px;}
.Car-index .car-info ul:after {display:block; clear:both; content:'';}
.Car-index .car-info ul li {float:left; padding-right:1px; background:url('../../Images/Product/bg-carindex-ico.gif') no-repeat right center;}
.Car-index .car-info ul li.last {background:none; padding-right:0;}
.Car-index .car-info .car-img {position:absolute; right:0; bottom:0;}
.Car-index .car-info .award {position:absolute; right:0; top:30px;}
.Car-index .Hotspot {position:absolute; display:block; width:25px; height:25px;  top:175px; right:350px; display:none; }
.Car-index .Hotspot-box {position:absolute; top:-40px; right:62px;}
.Car-index .Hotspot-box a {position:absolute; top:7px; right:18px;}


.Car-detail { float:left}
.detail-head { height:48px; margin:0px; background:#FFF; width:100%; float:left}
.detail-head:after {content:''; display:block; clear:both;}
.detail-head h2 {padding-top:0px; height:38px; float:left;}
.detail-head h3 {height:26px;}
.detail-head .detail-Nav .Right-A {display:none;}
.detail-head .detail-Nav .Left-A {display:none;}
.D-Fix {position:fixed; top:0; left:50%; margin-left:-480px; width:929px; margin-top:0; z-index:999; _position:absolute;}

.detail-Nav {float:right; padding-right:10px; padding-top:9px;}
.detail-Nav li {float:left; padding:0px 25px 0 25px; margin-left:2px; height:31px; }
.detail-Nav #lpp1 {margin-left:0;}
.detail-Nav #lpp1 ul {left:403px;}
.detail-Nav #lpp2 ul {left:498px;}
.detail-Nav #lpp3 ul {left:670px;}
.detail-Nav #lpp5 ul {left:634px;}
.detail-Nav .on {background:#fff; border: 1px solid #b7b7b7; border-bottom:none }
.detail-Nav .on div {display:block;  background:#fff;}
.detail-Nav div {position:absolute; left:0; top:54px; padding:14px 0 0 31px; width:949px; display:none; background:#fff; height:26px;}
.detail-Nav div ul {position:absolute; top:15px;}
.detail-Nav div ul li {float:left; padding:0 3px; height:14px; margin-left:22px;}
.detail-Nav div ul li a {display:inline-block; height:12px;}
.detail-Nav div ul .on {border-bottom:2px solid #bb162b;}
.Share-box {background:url('../../Images/Product/bg-Share.gif') no-repeat; padding:6px 0 0 19px; margin-top:10px; height:20px;}
.board-cont .Share-box {background:url('../../Images/Board/bg-share.gif') no-repeat 0px 8px; padding:8px 0px; margin-top:0px; height:auto; border-bottom:1px solid #ddd;}
.board-cont .Share-box a.first {margin-right:10px;}
.Share-box a.first {margin-right:31px;}
.Share-box a {display:inline-block; vertical-align:middle; margin-right:16px;}

.Car-detail {position:relative; overflow:hidden;}
.detail-body h3 { padding:10px 0 20px 30px; height:18px;}
.D-Gallery {padding-left:10px;}
.D-Gallery ul {overflow:hidden;}
.D-Gallery ul:after {content:''; display:block; clear:both;}
.D-Gallery ul li {float:left; border:1px solid #e7e7e7; margin-right:8px; margin-top:8px; line-height:0;}

.D-Gallery2 {padding-left:10px;}
.D-Gallery2 ul {overflow:hidden;}
.D-Gallery2 ul:after {content:''; display:block; clear:both;}
.D-Gallery2 ul li {float:left; border:1px solid #e7e7e7; margin-right:8px; margin-top:8px; line-height:0;}



.car-position {}
.car-position ul {overflow:hidden;}
.car-position ul:after {content:''; display:block; clear:both;}
.car-position ul li {float:left; width:184px; margin-right:10px; text-align:center; padding-top:10px; font:11px tahoma; line-height:14px; border-top:2px solid #bebebe;}
.car-position ul li.on {border-top:2px solid #bb162b;}
.selColor  {margin-top:50px;}
.selColor span {display:inline-block; vertical-align:middle;}
.selColor strong {display:inline-block; vertical-align:middle;}
.selColor ul {display:inline;padding-left:22px;}
.selColor ul li {display:inline; margin:0 4px;}
.selColor ul li a {display:inline-block;}
.selColor ul li a span {display:inline-block; height:21px; width:21px; border:1px solid #dbdbdb; vertical-align:middle;}
.selColor ul li a.on {border:2px solid #1f1f1f;}
.vr-list {padding-left:117px; margin-top:20px;}
.vr-list li {background:url('../../Images/Product/bg-red-dot.gif') no-repeat 0 8px; padding-left:6px; font:11px tahoma; line-height:16px; color:#333;}


.D-Features {padding-top:0px; margin:0px 10px;}
.D-Features .Performance {overflow:hidden; border-bottom:1px solid #e4e4e4;}
.D-Features .Performance:after {content:''; display:block; clear:both;}
.D-Features .Performance div {float:left;}
.D-Features .Performance div.Wi-leng {width:500px;}
.D-Features .Performance div h3 {padding:83px 0 0 0 ;}
.D-Features .Performance div p {font:11px tahoma; line-height:14px; margin:20px 0 15px 0;}
.D-Features .Safe {overflow:hidden; border-bottom:1px solid #e4e4e4;}
.D-Features .Safe:after {content:''; display:block; clear:both;}
.D-Features .Safe .right {float:right;}
.D-Features .Safe .left {float:left; padding-left:30px;}
.D-Features .Safe div h3 {padding:83px 0 0 0 ;}
.D-Features .Safe div p {font:11px tahoma; line-height:14px; margin:20px 0 15px 0;}
.D-Features .thum-list {text-align:center; padding:20px 0; border-bottom:1px solid #e4e4e4;}
.D-Features .thum-list a {display:inline-block; vertical-align:middle;}
.D-Features .thum-list .Thum-Real {width:504px; margin:0 auto; padding:0 30px; position:relative;}
.D-Features .thum-list .Rel-box {width:504px; margin:0 auto; overflow:hidden; position:relative;}
.D-Features .thum-list .Prev {position:absolute; left:0; top:15px;}
.D-Features .thum-list .Next {position:absolute; right:0; top:15px;}
.D-Features .thum-list ul {overflow:hidden; position:relative; width:10000px;}
.D-Features .thum-list ul:after {display:block; clear:both; content:'';}
.D-Features .thum-list ul li {float:left; padding:0 1px;}
.D-Features .thum-list ul li a {display:inline-block; border:1px solid #d9d9d9; vertical-align:middle;}
.D-Features .thum-list ul li a img {width:68px; height:48px;}
.D-Features .thum-list ul .on a {display:inline-block; border:3px solid #bb162b;}
.D-Features .thum-list ul .on a img {width:64px; height:45px;}
.D-Specifications {padding-top:145px; margin:0px 10px;}

.specsArea { background:#fff; width:884px; border:3px solid #e0e0e0; color:#000; text-align:center; margin:20px 0px 0px 0px; }
.specsArea table { width:884px !important; font:11px Arial, Helvetica, sans-serif}
.table_header{ background:#c0c0c0; font:14px Arial, Helvetica, sans-serif}
.table_title{font:bold 14px Arial, Helvetica, sans-serif; color:#000; text-transform:uppercase; text-align:left; padding:5px 0px 5px 10px}
.rightAlign { text-align:left;  padding-left:10px; width:140px; font:12px Arial, Helvetica, sans-serif; }
.specsArea .odd { background:#eaeaea; }
.specsArea .even { background:#d6d6d6; }
.specsArea .oddRow { background:#eaeaea !important; }
.specsArea .evenRow { background:#d6d6d6 !important; }
.specsArea th { padding-top:5px; padding-bottom:5px; font-weight:bold; color:#000; font-size:16px; background:#c0c0c0}
.specsArea h1 {  font:bold 12px Arial, Helvetica, sans-serif; color:#000; text-align:left; padding-left:10px }
.specsArea td{ font:11px Arial, Helvetica, sans-serif; padding:5px 0px 5px 5px; text-align:left; padding-left:10px}






















#model_wrapper
{
	
    overflow: hidden;
	width:945px;
	margin:20px 0px 20px 0px;
	
	
  
}

#sidebar {
	
}

#sidebar ul {
    
    
    list-style: none outside none;
    padding: 0;
    position: fixed;
	background:#FFF;
	z-index:10;
	border-bottom:1px solid #b7b7b7;  height:36px;
	width:943px;
	margin:0px;

	
}
#sidebar ul li {
    float: right;
    margin: 0 20px 0 10px;
	border:none;
}
#sidebar ul li a {
    float:left;  text-decoration: none;  padding:0px 13px 0px 13px; height:32px; margin-top:0px; font-size:25px;color: #959595;  padding-top:3px; text-transform:uppercase;font-family:'BebasNeue';
}
#sidebar ul li a.current
{
	border:1px solid #b7b7b7;
	border-bottom:1px solid #fff;
}


#sidebar ul li a:visited {
    color: #959595;
	
}
#sidebar ul li a:hover {
    color: #1b285d;
}
#navinterior, #navspecifications, #navtop {
    opacity: 0.1;
}
#content_model {
   
    
    padding: 0px 0px 0px 0px;
    text-align: justify;
	float:left;
	height:auto;
	
}
#content_model h2 {
   
    
    padding: 0px;
	margin-bottom:15px;
	font-size:23px;
	
}

#exterior h3 {
    margin-top: 0;
}


