
div.controls {
    height: 23px;
    margin-top: 5px;
}
div.controls a {
    padding: 5px;
}
div.ss-controls {
    float: left;
}
div.nav-controls {
    float: right;
}
div.slideshow-container {
    clear: both;
    margin: 0;
    padding: 0;
    position: relative;
}
div.loader {
    background-image: url("loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    height: 520px;
    left: 0;
    position: absolute;
    top: 0;
    width: 545px;
}
div.slideshow {
}
div.slideshow span.image-wrapper {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
}
div.slideshow a.advance-link {
    float: left;
    height: 260px;
    margin: 0;
    padding: 0;
    text-align: left;
}
div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
    text-decoration: none;
}
div.slideshow img {
    float: left;
    height: 260px;
    margin-top: 0;
    width: 460px;
}
.caption-container {
    bottom: 110px;
    left: 576px;
    position: absolute;
    width: 190px;
}
div.download {
    clear: both;
    display: block;
}
span.image-caption {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 190px;
}
div.caption {
    padding: 0;
}
div.image-title {
    font-size: 1.4em;
    font-weight: bold;
}
div.image-desc {
    line-height: 1.3em;
    padding-top: 12px;
}
div.navigation2 {
    float: right;
    width: 400px;
}
ul.thumbs {
    clear: both;
    margin: 0;
    padding: 0;
}
ul.thumbs li {
    float: left;
    height: 70px;
    list-style: none outside none;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 10px;
    padding: 0;
    position: relative;
    width: 102px;
}
a.thumb {
    border: 3px solid #EBEBEB;
    display: block;
    padding: 0;
}
ul.thumbs li.selected a.thumb {
    border: 3px solid #FA9E30;
}
a.thumb:focus {
    outline: medium none;
}
ul.thumbs img {
    border: medium none;
    display: block;
}
div.pagination {
    clear: both;
}
div.navigation div.top {
    height: 11px;
    margin-bottom: 12px;
}
div.navigation div.bottom {
    font-size: 10px !important;
    margin-top: 12px;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
    border: 1px solid #CCCCCC;
    color: #1B285D;
    display: block;
    float: left;
    font-size: 13px;
    margin-right: 2px;
    padding: 2px 7px;
}
div.pagination a:hover {
    background-color: #EEEEEE;
    text-decoration: none;
}
div.pagination span.current {
    background-color: #FA9E31;
    border-color: grey;
    color: white;
    font-weight: bold;
}
div.pagination span.ellipsis {
    border: medium none;
    padding: 5px 0 3px 2px;
}
.imgThumbs2 ul {
    height: 268px;
    list-style: none outside none;
    margin: 0 0 8px;
    padding: 0;
}
