div.content {
	/* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
	display: none;
	float: left;
    height: 520px;
    position: relative;
    width: 545px;}
div.content a, div.navigation a {
	text-decoration: none;
	color: #777;
}
div.content a:focus, div.content a:hover, div.content a:active {
	text-decoration: underline;
}
div.controls {
	margin-top: 5px;
	height: 23px;
}
div.controls a {
	padding: 5px;
}
div.ss-controls {
	float: left;
}
div.nav-controls {
	float: right;
}
div.slideshow-container {
	position: relative;
	clear: both;
	height: 444px;
	
	padding:0px; margin:0px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.loader {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	width: 545px;
	height: 520px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.slideshow {

}
div.slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
div.slideshow a.advance-link {
	
	
	height:444px; /* This should be set to be at least the height of the largest image in the slideshow */
	text-align: left;
	margin: 0px;
	padding: 0px;
	float:left;
	
}
div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
	text-decoration: none;
}
div.slideshow img {
	margin-top:0px;
	width:460px;
	height:444px;
	float:left;
}
.caption-container { bottom: 110px;
    left: 576px;
    position: absolute;
    width: 190px;}
div.download {
	display: block;
	clear: both;
}


span.image-caption {
	display: block;
	position: absolute;
	width: 190px;
	top: 0;
	left: 0;
}
div.caption {
	padding: 0px;
}
div.image-title {
	font-weight: bold;
	font-size: 1.4em;
}
div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
}
div.navigation {
	/* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
	width: 360px; float:left; float:right}
ul.thumbs {
	clear: both;
	margin: 0;
	padding: 0;
}
ul.thumbs li {
	float: left;
    height: 75px;
    list-style: none outside none;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 18px;
    padding: 0;
    position: relative;
    width: 102px;
}
a.thumb {
	padding: 0px;
	display: block;
	border:3px solid #ebebeb;
	
}
ul.thumbs li.selected a.thumb {
	
	border:3px solid #fa9e30;
}
a.thumb:focus {
	outline: none;
}
ul.thumbs img {
	border: none;
	display: block;
}
div.pagination {
	clear: both;
}
div.navigation div.top {
	margin-bottom: 12px;
	height: 11px;
}
div.navigation div.bottom {
	margin-top: 12px;
	font-size:10px !important;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 7px 2px 7px;
	border: 1px solid #ccc;
}
div.pagination a:hover {
	background-color: #eee;
	text-decoration: none;
}
div.pagination span.current {
	font-weight: bold;
	background-color: #005382;
	border-color: #005382;
	color: #fff;
}
div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}
