
@font-face {
    font-family: "BebasNeue";
    src: url("../fonts/BebasNeue.otf");
}
@font-face {
    font-family: "calibri";
    src: url("../fonts/calibri.ttf");
}
@font-face {
    font-family: "AdobeArabic";
    src: url("../fonts/AdobeArabic.otf");
}
a {
    outline: medium none;
}
body {
    margin: 0;
    padding: 0;
}
#wrapper {
    background: url("../img/bg.gif") repeat-x scroll left top #CCCCCC;
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
#wrapper_white {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
#container {
    margin: 0 auto;
    width: 967px;
}
h1, h2, h3 {
    font-family: 'BebasNeue';
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
ul {
    list-style: none outside none;
}
h1 {
    color: #00ADEC;
    font-size: 38px;
    text-align: right;
}
h2 {
    color: #1B285D;
    font-size: 20px;
    padding-top: 3px;
    text-align: right;
}
#header {
    height: 39px;
    margin: 10px auto 45px;
    width: 967px;
}
#ar_lang {
    background: url("../img/lang_a.gif") no-repeat scroll 0 0 transparent;
    float: left;
    height: 12px;
    margin: 13px 0 0 17px;
    width: 30px;
}
#logo {
    background: url("../img/logo.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 39px;
    width: 87px;
}
ul.menu {
    float: right;
    height: 30px;
    margin: 0 auto;
    width: 539px;
}
.menu_sep {
    color: #00ADEC;
    float: left;
    margin-top: 7px;
}
ul.menu li {
    display: inline;
}
ul.menu li a {
    color: #00ADEC;
    float: left;
    font: bold 11px Arial,Helvetica,sans-serif;
    height: 17px;
    margin: 7px 4px 0;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
}
ul.menu li.selected a {
    background: none repeat scroll 0 0 #FA9E30;
    color: #FFFFFF;
    height: 17px;
    width: auto;
}
ul.dropdown {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}
ul.dropdown li {
    float: right;
    font-weight: bold;
}
ul.dropdown a:hover {
    color: #00ADEC;
}
ul.dropdown a:active {
    color: #FFFFFF;
}
ul.dropdown li a {
    color: #00ADEC;
    display: block;
    float: left;
    font: bold 11px Arial,Helvetica,sans-serif;
    height: 12px;
    margin: 7px 4px 0;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
}
ul.dropdown li:last-child a {
    border-right: medium none;
}
ul.dropdown li:hover {
    position: relative;
}
ul.dropdown li a:hover {
    background: none repeat scroll 0 0 #FA9E30;
    color: #FFFFFF;
}
ul.dropdown li.selected a {
    background: none repeat scroll 0 0 #FA9E30;
    color: #FFFFFF;
    height: 12px;
    width: auto;
}
ul.dropdown ul.sub_menu {
    left: 0;
    padding-left: 0;
    position: absolute;
    top: 100%;
    visibility: hidden;
    width: 111px;
    z-index: 1000;
}
ul.dropdown ul.sub_menu li {
    background: url("../img/menu_sub_arrow.gif") no-repeat scroll 100px 8px #FA9E30;
    border-bottom: 1px solid #E38C24;
    color: #FFFFFF;
    float: left;
    margin: 0 0 0 4px;
    padding: 0;
    width: 111px;
}
ul.dropdown ul.sub_menu li:hover {
    background: url("../img/menu_sub_arrow_ovr.gif") no-repeat scroll 100px 5px #EBEBEB;
    color: #FA9E30;
    float: left;
    width: 111px;
}
ul.dropdown ul.sub_menu li a {
    color: #FFFFFF;
    float: right;
    height: auto;
    margin: 0;
    padding: 4px 18px 4px 0;
    text-align: right;
	width:93px;
}
ul.dropdown ul.sub_menu li a:hover {
   background: url("../img/menu_sub_arrow_ovr.gif") no-repeat scroll 95px 5px #EBEBEB;
    color: #FA9E30;
	width:93px;
}
.content-head {
    height: 47px;
    position: relative;
}
.content-head ul {
    left: 2px;
    margin: 0;
    position: absolute;
    top: 0;
}
.content-head ul li:first-child {
    background: url("../../Images/common/ico-home.gif") no-repeat scroll 0 3px transparent;
    padding-right: 16px;
}
.content-head ul li {
    float: right;
    list-style: none outside none;
    margin-right: 0;
    padding-right: 11px;
}
.content-head ul .last {
    background: url("../img/cont_arrow.jpg") no-repeat scroll 33px 10px transparent;
    margin-right: 0;
}
.content-head ul .last_reverse {
    background: url("../img/cont_arrow_rev.jpg") no-repeat scroll 0 10px transparent;
    margin-left: 0;
}
.content-head ul .last a {
    color: #949494;
}
.content-head ul li a {
    color: #898989;
    font: 9px/14px Arial,Helvetica,sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}
.content-head h1 {
    color: #00ADEC;
    float: right;
}
#slider {
    background: url("../img/slider.png") no-repeat scroll 0 0 transparent;
    height: 275px;
    position: relative;
    width: 967px;
}
#slider a {
    float: right;
    height: 275px;
    margin: 14px 10px 0 0;
    width: 110px;
}
#minibus {
    background: url("../img/minibuses_link.jpg") no-repeat scroll 0 0 transparent;
    height: 275px;
    width: 110px;
}
#heavytrucks {
    background: url("../img/htrucks_link.jpg") no-repeat scroll 0 0 transparent;
    height: 275px;
    width: 110px;
}
#microbus {
    background: url("../img/microbuses_link.jpg") no-repeat scroll 0 0 transparent;
    height: 275px;
    width: 110px;
}
#mtrucks {
    background: url("../img/mtrucks_link.jpg") no-repeat scroll 0 0 transparent;
    height: 275px;
    width: 110px;
}
.about_panel_frame {
    float: left;
    height: auto;
    margin-top: 0;
    width: 967px;
}
ul.about_txt {
    color: #898989;
    float: left;
    font: 12px Arial,Helvetica,sans-serif;
    height: 300px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 967px;
}
ul li.about_l_txt {
    float: right;
    height: 300px;
    list-style: none outside none;
    margin-right: 60px;
    text-align: right;
    width: 400px;
}
ul li.about_r_txt {
    float: left;
    height: 300px;
    list-style: none outside none;
    text-align: right;
    width: 400px;
}
#media_slider {
    border-bottom: 1px solid #ACACAC;
    height: 295px;
    margin-bottom: 12px;
    padding-bottom: 12px;
    position: relative;
    width: 967px;
}
#media_slider a {
    float: left;
    height: 281px;
    margin: 14px 0 15px;
    width: 322px;
}
#events_media {
    background: url("../img/events.jpg") no-repeat scroll right top transparent;
    height: 281px;
    width: 300px;
}
#ads_media {
    background: url("../img/ads.jpg") no-repeat scroll center top transparent;
    height: 281px;
    width: 300px;
}
#news_media {
    background: url("../img/news.jpg") no-repeat scroll left top transparent;
    height: 281px;
    width: 300px;
}
.panel_frame_events {
    float: left;
    height: auto;
    margin-left: 30px;
    margin-top: 20px;
    width: 886px;
}
.content_event_ads {
    clear: both;
    float: right;
    margin: 0 10px 90px 0;
    width: 510px;
}
#news {
    float: right;
    height: 136px;
    margin-top: 20px;
    width: 967px;
}
#news ul {
    background: none repeat scroll 0 0 #CCCCCC;
    height: 126px;
    margin: 0 auto;
    padding: 0;
    width: 967px;
}
#news li {
    float: right;
    height: 123px;
    list-style: none outside none;
    margin: 0 19px 0 0;
    padding: 0;
    position: relative;
    width: 300px;
}
#news li img {
    float: right;
    margin-left: 12px;
}
.minibuses {
    height: 101px;
    width: 106px;
}
.consequ {
    height: 103px;
    width: 158px;
}
.htrucks {
    height: 100px;
    width: 112px;
}
#news p {
    color: #555555;
    font: 11px Arial,Helvetica,sans-serif;
    margin: 0;
    text-align: right;
}
#news h2 {
    text-align: right;
    width: auto;
}
#news a {
    background: url("../img/news_btn.jpg") no-repeat scroll 0 0 transparent;
    bottom: 8px;
    height: 13px;
    left: 7px;
    position: absolute;
    width: 13px;
}
#about_panel {
    height: 200px;
    margin-top: 17px;
    width: 967px;
}
#about_panel ul {
    height: 200px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 967px;
	float:right;
}
#about_panel li {
    float: right;
    height: 158px;
    list-style: none outside none;
    margin-left: 20px;
}
.blue_bg {
    background: url("../img/about_left.jpg") no-repeat scroll right top #1B285D;
    color: #737CA5;
    position: relative;
    width: 451px;
}
#about_panel p {
    float: right;
    font: 10px/10px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0 20px;
    text-align: right;
}
#about_panel h3 {
    color: #FFFFFF;
    font: 22px 'BebasNeue';
    margin: 14px 13px 0 0;
    text-align: right;
}
.panel_frame {
    float: right;
    height: auto;
    margin-top: 20px;
    width: 967px;
}
.aftersales_tabs {
    border-bottom: 1px solid #B7B7B7;
    clear: both;
    float: right;
    height: 36px;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
}
.aftersales_tabs li {
    display: inline;
    float: left;
    margin: 0 10px;
}
.aftersales_tabs li a {
    color: #959595;
    float: left;
    font-family: 'BebasNeue';
    font-size: 25px;
    height: 32px;
    margin-top: 0;
    padding: 3px 10px 0 5px;
    text-decoration: none;
    text-transform: uppercase;
}
.aftersales_tabs li.active a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #B7B7B7 #B7B7B7 #FFFFFF;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #1B285D;
}
.content {
    clear: both;
    direction: rtl;
    float: right;
    margin: 27px 10px 90px 0;
    width: 967px;
}
.contactus_content {
    clear: both;
    float: left;
    margin: 27px 59px 90px 0;
    width: 913px;
}
.after_sales {
    background: url("../img/after_sales.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 158px;
    width: 221px;
}
.blue_bg a {
    background: url("../img/news_btn.jpg") no-repeat scroll 0 0 transparent;
    bottom: 15px;
    float: right;
    height: 13px;
    left: 25px;
    position: absolute;
    width: 13px;
}
.after_sales p {
    color: #1B285D;
    float: left;
    font: 10px/10px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0 0 0 20px;
    width: 96px;
}
.after_sales h2 {
    margin: 14px 13px 0 0;
    padding: 0;
    text-align: right;
}
.newsletter {
    background: none repeat scroll 0 0 #E6E6E6;
    border: 1px solid #FA9E30;
    float: left;
    height: 158px;
    width: 221px;
}
.newsletter h2 {
    color: #FA9E30;
    font-weight: normal;
    margin: 14px 13px 0 0;
    padding: 0;
    text-align: right;
}
.newsletter a {
    background: url("../img/submit_btn.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 19px;
    margin: 10px 0 0 17px;
    width: 55px;
}
.input_e {
    border: medium none;
    color: #7D7D7D;
    float: left;
    font: 10px Arial,Helvetica,sans-serif;
    height: 23px;
    margin: 13px 0 0 16px;
    padding-right: 3px;
    text-align: right;
    width: 189px;
}
.trucks_txt {
    color: #555555;
    direction: rtl;
    float: right;
    font: 11px Arial,Helvetica,sans-serif;
    margin: 0 80px 0 0;
    text-align: right;
    width: 560px;
}
.trucks_txt2 {
    color: #555555;
    font: 11px Arial,Helvetica,sans-serif;
    margin: 10px 20px 0 0;
    text-align: right;
}
.model_txt {
    color: #555555;
    font: 11px Arial,Helvetica,sans-serif;
    margin: 0;
}
#trucks_slider {
    border-bottom: 1px solid #ACACAC;
    float: right;
    margin-bottom: 12px;
    padding-bottom: 12px;
    position: relative;
    width: 967px;
}
#htrucks_link {
    background: url("../img/heavytrucks_link.jpg") no-repeat scroll left top transparent;
    height: 331px;
    width: 300px;
}
.trucks_panel {
    background: none repeat scroll 0 0 #1B285D;
    float: left;
    height: auto;
    margin: 12px 20px 10px 0;
    min-height: 332px;
    width: 302px;
}
.trucks_panel_r {
    background: none repeat scroll 0 0 #1B285D;
    float: right;
    height: auto;
    margin: 12px 0 10px;
    min-height: 332px;
    width: 302px;
}
.trucks_panel_m {
    background: none repeat scroll 0 0 #1B285D;
    float: left;
    height: auto;
    margin: 12px 0 10px 10px;
    min-height: 332px;
    width: 302px;
}
.trucks_panel h1, .trucks_panel_r h1, .trucks_panel_m h1 {
    color: #FFFFFF;
    font-family: 'BebasNeue';
    font-size: 23px;
    margin: 0;
    padding: 0 10px 1px 0;
}
.trucks_panel_img {
    padding: 9px;
}
.trucks_panel p, .trucks_panel_r p, .trucks_panel_m p {
    color: #737CA5;
    font: 11px/10px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0 17px 0 20px;
    text-align: right;
}
.more_arrow {
    float: left;
    margin: 10px 10px 8px 8px;
}
#footer {
    background: url("../img/footer_bg.jpg") repeat-x scroll 0 0 transparent;
    float: left;
    height: 48px;
    width: 100%;
}
#footer_frame {
    height: 48px;
    margin: 0 auto;
    width: 967px;
}
#footer p {
    color: #CCCCCC;
    float: right;
    font: 10px arial;
    margin: 0;
    padding: 9px 10px 0 0;
    text-align: right;
    text-decoration: none;
}
#footer a {
    background: url("../img/footer_link.png") no-repeat scroll center top transparent;
    color: #CCCCCC;
    float: left;
    font: 10px arial;
    margin: 0 10px 0 0;
    padding: 12px 0 0 10px;
    text-decoration: none;
}
#footer a.white {
    background: url("../img/footer_link_white.png") no-repeat scroll center top transparent;
    color: #CCCCCC;
    float: left;
    font: 10px arial;
    margin: 0 10px 0 0;
    padding: 12px 0 0 10px;
    text-decoration: none;
}
#footer img {
    float: right;
    margin: 11px 10px 0 0;
}
.footer_links {
    color: #CCCCCC;
    float: left;
    font: 10px arial;
    margin-left: 20px;
    padding: 0 0 0 10px;
    text-decoration: none;
    width: 270px;
}
.company_logo {
    float: right;
}
.c_t_frame {
    float: right;
    margin-left: 50px;
    position: relative;
    width: 377px;
}
.c_t_link {
    left: 0;
    padding-top: 30px;
    position: absolute;
}
.c_t_img {
    float: right;
}
