﻿/* CSS Document */

@font-face {
    font-family: 'AdobeArabicRegular';
    src: url('../fonts/adobearabic.eot');
    src: url('../fonts/adobearabic.eot') format('embedded-opentype'),
         url('../fonts/adobearabic.woff') format('woff'),
         url('../fonts/adobearabic.ttf') format('truetype'),
         url('../fonts/adobearabic.svg#AdobeArabic') format('svg');
}
@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/bebasneue.eot');
    src: url('../fonts/bebasneue.eot') format('embedded-opentype'),
         url('../fonts/bebasneue.woff') format('woff'),
         url('../fonts/bebasneue.ttf') format('truetype'),
         url('../fonts/bebasneue.svg#BebasNeue') format('svg');
}
@font-face {
    font-family: 'CalibriRegular';
    src: url('../fonts/calibri.eot');
    src: url('../fonts/calibri.eot') format('embedded-opentype'),
         url('../fonts/calibri.woff') format('woff'),
         url('../fonts/calibri.ttf') format('truetype'),
         url('../fonts/calibri.svg#Calibri') format('svg');
}


a{outline:none}
body{margin:0px;padding:0px;}
#wrapper{width:100%; position:relative;background:url(../img/bg.gif) repeat-x top left #ccc; margin:0px; padding:0px}
#wrapper_white{width:100%; position:relative; background:#FFF; margin:0px; padding:0px}
#container{width:967px;margin:0 auto;}
h1,h2,h3{ padding:0px; margin:0px; font-family:'BebasNeue'; text-transform:uppercase; font-weight:normal}
ul{list-style:none}
h1{font-size:38px;color:#00adec;}
h2{font-size:20px; color:#1b285d; padding-top:3px}
/*************************************************
				Header
*************************************************/
#header{width:967px; height:39px;margin:0 auto; margin-bottom:45px; margin-top:10px}
#ar_lang{background:url(../img/lang_a.gif) no-repeat; width:30px; height:12px;float:left;margin:13px 0px 0px 17px}
#logo{width:87px;float:left;height:39px; background:url(../img/logo.png) no-repeat}
ul.menu {height: 30px; margin:0 auto;width:539px; float:right;}
.menu_sep{float:left; margin-top:7px;color:#00adec}
ul.menu li {display:inline;}
ul.menu li a {color:#00adec;float:left;font:bold 11px Arial, Helvetica, sans-serif;height:17px;text-align: center;text-decoration:none; text-transform:uppercase;width:auto; margin:7px 4px 0px 4px; padding:4px;}
ul.menu li.selected a {color: #fff; background:#fa9e30; height:17px; width:auto}



/* 
	LEVEL ONE
*/
ul.dropdown                         { position: relative; float:right; margin:0px }
ul.dropdown li                      { font-weight: bold; float: left; }
ul.dropdown a:hover		            { color: #00adec; }
ul.dropdown a:active                { color: #fff; }
ul.dropdown li a                    { color:#00adec;float:left;font:bold 11px Arial, Helvetica, sans-serif;height:12px;text-align: center;text-decoration:none; text-transform:uppercase;width:auto; margin:7px 4px 0px 4px; padding:4px; display:block }
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */

ul.dropdown li:hover                { position: relative;  }
ul.dropdown li a:hover              { color: #fff; background:#fa9e30; }
ul.dropdown li.selected a {color: #fff; background:#fa9e30; height:12px; width:auto}


/* 
	LEVEL TWO
*/
ul.dropdown ul.sub_menu{ width: 111px; visibility:hidden; position: absolute; top: 100%; left: 0; padding-left:0px; z-index:1000; }
ul.dropdown ul.sub_menu li{ color:#fff; float:left; border-bottom:1px solid #e38c24; width:111px; background:url(../img/menu_sub_arrow.gif) 10px 8px no-repeat #fa9e30 ; padding:0px; margin:0px; margin-left:4px}
ul.dropdown ul.sub_menu li:hover{  background:url(../img/menu_sub_arrow_ovr.gif) 3px 5px no-repeat #ebebeb; color: #fa9e30; float: left; width:111px; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul.sub_menu li a{ color:#fff; padding:4px 0px 4px 18px; margin:0px ; text-align:left; float:left; height:auto;}
ul.dropdown ul.sub_menu li a:hover{background:url(../img/menu_sub_arrow_ovr.gif) 4px 5px no-repeat #ebebeb; color: #fa9e30; }

/* 



/*************************************************
              Content head
**************************************************/

.content-head {height:47px; position:relative;}
.content-head ul {
	margin: 0;
    position: absolute;
    right: 2px;
    top: 0;
}
.content-head ul li:first-child {background:url('../../Images/common/ico-home.gif') no-repeat 0px 3px; padding-left:16px;}
.content-head ul li {float:left; margin-right:0px; padding-left:11px; list-style:none}
.content-head ul .last {background:url('../img/cont_arrow.jpg') no-repeat 3px 10px; margin-right:0;}
.content-head ul .last_reverse {background:url('../img/cont_arrow_rev.jpg') no-repeat 0px 10px; margin-left:0;}
.content-head ul .last a {color:#949494;}
.content-head ul li a{font:9px Arial, Helvetica, sans-serif; line-height:14px; color:#898989; text-transform:uppercase; text-decoration:none}
.content-head h1{color:#00adec; float:left}



/*************************************************
				Slider
*************************************************/
#slider{ width:967px; height:275px; position:relative; background:url(../img/slider.png) no-repeat}
#slider a{margin:14px 10px 0px 0px; width:110px; height:275px; float:left}
#minibus{background:url(../img/minibuses_link.jpg) no-repeat; width:110px; height:275px;}
#heavytrucks{background:url(../img/htrucks_link.jpg) no-repeat; width:110px; height:275px;}
#microbus{background:url(../img/microbuses_link.jpg) no-repeat; width:110px; height:275px;}
#mtrucks{background:url(../img/mtrucks_link.jpg) no-repeat; width:110px; height:275px;}

/*************************************************
				About
*************************************************/
.about_panel_frame{width:967px; margin-top:0px; height:auto; float:left}
ul.about_txt{ width:967px; padding:0px; margin:0px; float:left; height:300px; list-style:none; font:12px Arial, Helvetica, sans-serif; color:#898989}
ul li.about_l_txt{ width:400px; list-style:none; float:left; height:300px; margin-left:60px}
ul li.about_r_txt{ width:400px; list-style:none; float:right; height:300px}
/*************************************************
				media
*************************************************/
#media_slider{ width:967px; height:295px; position:relative; border-bottom:1px solid #acacac; padding-bottom:12px; margin-bottom:12px}
#media_slider a{margin:14px 0px 15px 0px; width:322px; height:281px; float:left}
#events_media{ width:300px; height:281px;}
#ads_media{ width:300px; height:281px;}
#news_media{ width:300px; height:281px;}
.panel_frame_events{width:886px; margin-top:20px; height:auto; float:left; margin-left:30px;}
.content_event_ads { float: left; clear: both; width: 510px; margin:0px 0px 90px 10px; }
/*************************************************
				News
*************************************************/
#news{ width:967px; height:136px; margin-top:20px}
#news ul{width:967px; height:126px; background:#ccc; padding:0px; margin:0 auto;}
#news li{width:300px; height:123px; list-style:none; padding-top:0px; margin:0px 19px 0px 0px; float:left;padding:0px 0px 0px 0px; position:relative;}
#news li img{ margin-right:12px; float:left}
.minibuses{ width:106px; height:101px;}
.consequ{width:158px; height:103px;}
.htrucks{width:112px; height:100px}
#news p{ color:#555555; font:11px Arial, Helvetica, sans-serif; margin:0px}
#news h2{ width:auto}
#news a{background:url(../img/news_btn.jpg) no-repeat; width:13px; height:13px; position:absolute; bottom:8px; right:7px}
/*************************************************
				About Panel
*************************************************/
#about_panel{width:967px; height:200px; margin-top:17px}
#about_panel ul{width:967px; height:200px; margin:0px; list-style:none; padding:0px;}
#about_panel li{height:158px;float:left; list-style:none; margin-right:20px; }
.blue_bg{background:url(../img/about_left.jpg) top left no-repeat; background-color:#1b285d;color:#737ca5;width:451px; position:relative}
#about_panel p{font:10px Arial, Helvetica, sans-serif; padding:0px 20px 0px 20px; margin:0px; float:left; line-height:10px;}
#about_panel h3{color:#fff;font:22px 'BebasNeue'; margin:14px 0px 0px 13px}

/******************************************
		After Sales tabs
************************************/
.panel_frame{width:967px; margin-top:20px; height:auto; float:left}
.aftersales_tabs { padding:0; clear:both; margin:0px; border-bottom:1px solid #b7b7b7; float:left; height:36px; width:100%; text-align:right }
.aftersales_tabs li { display:inline; float:right; margin:0px 10px 0px 10px }
.aftersales_tabs li a { float:left;  text-decoration: none;  padding:0px 10px 0px 5px; height:32px; margin-top:0px; font-size:25px; color:#959595; padding-top:3px;; text-transform:uppercase;font-family:'BebasNeue';}
.aftersales_tabs li.active a { color:#1b285d; border:1px solid #b7b7b7; border-bottom:1px solid #fff  }

.content { float: left; clear: both; width: 967px; margin:27px 0px 90px 10px; }
.contactus_content { clear: both;float: left;margin: 27px 0 90px 59px;width: 913px;}

/*************************************************
				After Sales
*************************************************/
.after_sales{width:221px;height:158px;float:left;background:url(../img/after_sales.jpg) no-repeat;}
.blue_bg a{background:url(../img/news_btn.jpg) no-repeat; width:13px; height:13px; float:right; right:25px; bottom:15px; position:absolute}
.after_sales p{color:#1b285d; font:10px Arial, Helvetica, sans-serif;padding:0px 0px 0px 20px; margin:0px; width:96px; float:left; line-height:10px}
.after_sales h2{margin:14px 0px 0px 13px; padding:0px}
/*************************************************
				Newsletter
*************************************************/
.newsletter{width:221px;height:158px;float:left;background:#e6e6e6; border:1px solid #fa9e30 }
.newsletter h2{ color:#fa9e30;margin:14px 0px 0px 13px; padding:0px; font-weight:normal}
.newsletter a{ background:url(../img/submit_btn.jpg) no-repeat; width:55px; height:19px; float:right; margin:10px 17px 0px 0px;}
.input_e{ width:189px; height:23px; margin:13px 0px 0px 16px; float:left; border:none; padding-left:3px; color:#7d7d7d; font:10px Arial, Helvetica, sans-serif}

/*************************************************
				line of business
*************************************************/
.trucks_txt{color:#555555; font:11px Arial, Helvetica, sans-serif; margin:0px; width:560px; margin-left:80px}
.trucks_txt2{color:#555555; font:11px Arial, Helvetica, sans-serif; margin:10px 0px 0px 20px}
.model_txt{color:#555555; font:11px Arial, Helvetica, sans-serif; margin:0px}
#trucks_slider{ width:967px; position:relative; border-bottom:1px solid #acacac; padding-bottom:12px; margin-bottom:12px; float:left}

#htrucks_link{background:url(../img/heavytrucks_link.jpg) left top no-repeat; width:300px; height:331px;}


/***********************************
Truck Page
****************************************/

.trucks_panel{width:302px; min-height:332px; background:#1b285d; float:left; height:auto; margin:12px 20px 10px 0px}
.trucks_panel_r{width:302px; min-height:332px; background:#1b285d; float:right; height:auto; margin:12px 0px 10px 0px}
.trucks_panel_m{width:302px; min-height:332px; background:#1b285d; float:left; height:auto; margin:12px 0px 10px 10px}
.trucks_panel h1, .trucks_panel_r h1, .trucks_panel_m h1{ font-size:23px; color:#fff; font-family: 'BebasNeue'; padding:0px 0px 1px 10px; margin:0px}
.trucks_panel_img{padding:9px}
.trucks_panel p, .trucks_panel_r p, .trucks_panel_m p{ font:11px Arial, Helvetica, sans-serif; color:#737ca5; padding:0px 17px 0px 20px; margin:0px; line-height:10px}
.more_arrow{float: right;margin: 10px 8px 8px 10px;}

/*************************************************
				Footer
*************************************************/
#footer{background:url(../img/footer_bg.jpg) repeat-x;width:100%; height:48px; float:left}
#footer_frame{width:967px; height:48px;  margin:0 auto}
#footer p{font:10px arial; color:#cccccc; float:left; padding:9px 0px 0px 10px;margin:0px; text-decoration:none}
#footer a{font:10px arial; color:#cccccc; float:left; padding:12px 0px 0px 10px;margin:0px 10px 0px 0px; text-decoration:none; background:url(../img/footer_link.png) top center no-repeat}
#footer a.white{font:10px arial; color:#cccccc; float:left; padding:12px 0px 0px 10px;margin:0px 10px 0px 0px; text-decoration:none; background:url(../img/footer_link_white.png) top center no-repeat}
#footer img{float:left; margin:11px 0px 0px 10px}
.footer_links{font:10px arial; color:#cccccc; float:right; padding:0px 0px 0px 10px; text-decoration:none; width:270px; margin-right:20px}
.company_logo{float:left; }
.c_t_frame{width:377px; position:relative; float:left; margin-right:50px}
.c_t_link{position:absolute; padding-top:30px; right:0px}
.c_t_img{float:left}
	
