﻿body{
	margin:0px; padding:0px;}
#content
{
	width:772px;
	/*margin:0 auto;*/
	height:500px;
	

}
ul.menu
{
	
	width:auto;
	min-width:773px;
	height:30px;
	padding-left:0px;
	margin:0px;
/*	position:fixed;*/
	
}
ul.menu li
{
	float:left;
	width:100px;
	height:25px;
	background:#a1a1a1;
	color:#fff;
	list-style:none;
	text-decoration:none;
	margin:0px 10px 0px 0px;
	text-align:center;
}
ul.menu li a
{
	text-decoration:none;
	color:#fff;
	width:100px;
	height:20px;
	float:left;
	text-transform:uppercase;
	font:bold 12px verdana;
	padding:5px 0px 0px 0px;
	
}

ul.menu li.active a { color:#fff; background:#136fb7; }
.header-title
{
	width:768px; height:20px;color:#fff; background:#136fb7;font:bold 12px verdana;padding:5px 0px 0px 5px; margin-top:32px; float:left
}
.data_form
{
	width:770px;
	float:left;
}
.data_form label
{
	color:#a1a1a1;
	width:115px;
	float:left;
	font:bold 12px verdana;
	text-transform:capitalize;
	margin:0px 0px 0px 10px;
}
.data_form span textarea
{
	width:470px;
	height:90px;
	float:left;
	
}

.data_form span
{
	width:750px;
	float:left;
	
	
}

.data_form span ul
{
	float: left;
    list-style: none outside none;
    padding: 0;
    width: 320px;
	margin:11px 0px 0px 0px;
	
	
}
.data_form span ul li
{
	width:290px;
	height:20px;
	float:left;
	margin:0px 0px 20px 0px;
	
	
}
.data_form input
{
	width:150px;
	height:30px;
}
.form_btn_link
{
  background: none repeat scroll 0 0 #28ABE1;
    color: #FFFFFF;
    float: right;
    padding: 4px 20px;
    text-decoration: none;
    width: auto;
    font: bold 11px verdana;
    text-transform: uppercase;
	margin:0px 0px 0px 5px
}
.form_btn_link_chk
{
  background: none repeat scroll 0 0 #28ABE1;
    color: #FFFFFF;
    float: right;
    padding: 3px 5px;
    text-decoration: none;
    width: auto;
    font: bold 10px verdana;
    text-transform: uppercase;
	
}

.active_chkbox
{float:right !important; min-width:40px !important; width:auto !important; padding:3px 0px 0px 0px}
.cancel_chkbox
{float:right !important; width:60px !important; padding:3px 0px 0px 0px;}
th{ background:#136fb7; color:#fff; font:bold 12px verdana; text-align:center; border:1px solid #FFF;
border-bottom:none; border-top:none; text-transform:uppercase}
.rowone td
{ 
background:#959595;
color:#fff;
font:bold 11px verdana;
text-align:center;
text-transform:uppercase;
border:1px solid #FFF;
border-bottom:none;
}
.rowtwo td
{ 
background:#cccccc;
color:#fff;
font:bold 11px verdana;
text-align:center;
text-transform:uppercase;
border:1px solid #FFF;
border-bottom:none;
}
td.button_frame
{
	padding:0px !important;
	
	width:68px;
	height:29px;
	
	
	

}

.form_tbl
{
	margin:10px;
}
.invoice_content
{
	height:auto !important;
	min-height:150px;
}
.invoice_content_s
{
	height:auto !important;
	
}
ul.payment_box{float:left; width:700px !important; background:#f9f9f9; padding:3px !important;
 margin:0px 0px 10px 10px !important; height:18px}
ul.payment_box li{float:left; width:auto !important; padding-right:40px}
ul.payment_box li label{ width:auto !important; min-width:30px !important; padding:0px 5px 0px 0px}
.payment_data{float:left; color:#A1A1A1; width:auto; min-width:30px;  margin:0px; padding:0px 1px; font:bold 12px verdana;}
.pay_radiobtn{width:114px !important;}
ul li.pay_radiobtn li{float:left !important;}
ul li.pay_radiobtn label{width:35px !important;}
ul li.pay_radiobtn input{width:30px !important; margin:0px}

