
/* prev, next, prevPage and nextPage buttons */
a.browse { display:block; width:18px; height:33px; cursor:pointer; font-size:1px; position:absolute; top:115px; }
.galleryPage a.browse { display:block; width:21px; height:24px; cursor:pointer; font-size:1px; position:absolute; top:75px; }
/* right */
a.right { background:url(../img/arrow-right.png) no-repeat; right:0; top:42px}
/* left */
a.left{  background:url(../img/arrow-left.png) no-repeat; left:23px; top:42px } 
/* disabled navigational button */
a.disabled {
	cursor:default !important;		
} 	

