.scrollable { height: 180px;
    margin-left: 60px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    width: 870px;
}
.scrollable .items { width:20000em; position:absolute;clear:both; }
.items div { float:left; }

/* single scrollable item */
.scrollable .thumb {  float: left;margin-bottom: 40px;margin-right: 9px;width: 217px; margin-left:3px; }
.galleryPage .scrollable { position:relative; overflow:hidden; width: 790px; height:234px; margin:0 auto; }
.galleryPage .scrollable .items { width:20000em; position:absolute;clear:both; }
.galleryPage .items div { float:left; width:810px; }

/* single scrollable item */
.galleryPage .scrollable .thumb { float:left; width:142px; height:77px; margin-bottom:15px; margin-right:20px; }
